<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li><a href="#/dashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Dashboard"></span> </a></li>
        <li>
            <a href="#/searchpatients"><i class="glyphicon glyphicon-list"></i><span data-i18n="Patients"></span></a>
        </li>
        <li>
            <a href="#/ui"><i class="fa fa-magic"></i><span data-i18n="Setup"></span></a>
            <ul>
                <li><a href="#/setupservices?type=service"><i class="fa fa-angle-right"></i><span data-i18n="Services"></span></a></li>
                <li><a href="#/setupproducts?type=product"><i class="fa fa-angle-right"></i><span data-i18n="Products"></span></a></li>
                <li><a href="#/setuppaymenttypes?type=paymenttype"><i class="fa fa-angle-right"></i><span data-i18n="Payment Types"></span></a></li>
                <li><a href="#/setuptaxes?type=tax"><i class="fa fa-angle-right"></i><span data-i18n="Taxes"></span></a></li>
            </ul>
        </li>
        <li><a href="#/reports"> <i class="fa fa-file-text-o"></i><span data-i18n="Reports"></span> </a></li>
    </ul>
</div>