<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Derma Laser Centers of New Jersey</title>
    <!--[if lt IE 9]>
    <script src="js/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="styles/print-bootstrap.css" />
    <link rel="stylesheet" href="styles/print-bootstrap-theme.css" />
    <link rel="stylesheet" href="styles/print-consentforms.css" />
    <style type="text/css">
	    @media screen {
		    header.onlyprint, footer.onlyprint{
		        display: none; /* Hide from screen */
		    }
		}
		
		@media print {
		    header.onlyprint {
		        position: fixed; /* Display only on print page (each) */
		        top: 0; /* Because it's header */
		    }
		    footer.onlyprint {
		        position: fixed;
		        bottom: 0; /* Because it's footer */
		    }
		}  
		
		@page  
		{ 
		    size: auto;   /* auto is the initial value */ 
		    /* this affects the margin in the printer settings */ 
		    padding: 25mm 25mm 25mm 25mm;  
		}
    </style>
</head>
<body>
    <div class="mainouterbox">
        <div class="container-fluid">
            <header>
                <div class="margin-V10"></div>
                <section>
                    <div class="col20 text-left"><img src="images/dc-logo.jpg" alt=""></div>
                    <div class="col60 text-center">
                        <img src="images/dc-logo.jpg" alt="">
                    </div>
                    <div class="col20 text-right"><img src="images/dc-logo.jpg" alt=""></div>
                </section>

                <section>
                    <div class="col20 text-left"><img src="images/dc-logo.jpg" alt=""></div>
                    <div class="col60 text-center">
                        <h1>Derma Laser Centers Of New Jersey</h1>
                        <h5>2239 Whitehorse Mercerville Rd, Mercerville, NJ 08619 </h5>
                        <h4>Laser &amp; Cosmetic Skin Surgery</h4>
                        <span class="col50">www.dermanj.com</span>
                        <span class="col50">www.hairdocnj.com</span>
                    </div>
                    <div class="col20 text-right"><img src="images/dc-logo.jpg" alt=""></div>
                </section>
                <div class="margin-V10"></div>
                <section>
                    <div class="col33 text-left font-bold">Mercer</div>
                    <div class="col33 text-center font-bold">Ridgefield</div>
                    <div class="col33 text-right font-bold">Somerset</div>
                    <div class="col33 text-left">609-631-8558</div>
                    <div class="col33 text-center">201-840-1210</div>
                    <div class="col33 text-right">732-356-8700</div>
                </section>
            </header>
            <section style="padding-left: 2%"> 
                <h2 class="text-center">Chemical Peel Consent Form</h2>
                <div class="margin-V20"></div>
                <p><span class="float-left">I, </span> <span class="fill-blank440" data-ng-bind="cmic.patientName"></span> , consent Dr. El-Attar, or any of his staff, associates, or aestheticians to perform the treatment know as a chemical peel. The treatment has been explained to me by Dr. El-Attar, and I have had the opportunity to ask questions.</p>
                <p>I understand that the procedure may cause swelling, redness, scabbing or puffiness of my face or ________________________ (body site treated) that may be uncomfortable. The procedure may cause my skin to appear red and peel like sunburn. During and after the procedure, the following may be experienced: stinging, itching, burning, mild pain, tightness, peeling and scabbing of the superficial layers of the skin. These sensations will gradually diminish over the course of the week as the skin returns to its normal appearance. However, some patients may react differently. For example, in severe cases the skin may look like very bad sunburn. The peeling usually lasts about three to seven days, although it may last longer.</p>
                <p>I understand that there is a possible risk of developing a temporary or permanent pigment (color) change in the skin. There is a small incidence of the reactivation of ‘cold sores’ (herpes infections) in patients with a prior history of herpes. There is also a small incidence of a flare of acne-like lesions after the peel. I understand that that on rare occasions this peel can penetrate deeper in certain areas, causing crusting or a scab to form. There is a rare incidence of infection. I have been given a copy of the post-peelinstructions and have reviewed them.</p>
                <p>I understand that photographs may be taken and agree to waive ownership of these photographs, and allow the physician or agents of the physician to copyright, publish, or use these photographs in conjunction with presenting case stuffy results.</p>
                <p style="text-decoration:underline;color: blue;font-style: italic;">I am aware that the practice of medicine and surgery is not an exact science and I acknowledge that no guarantees have been made to me as to the results of the procedure nor are there any guarantees against an unfavorable result. I acknowledge that you will do your best for me but I also recognize that you lack infallibility and that mistakes and accidents can occur in medicine as they can in any discipline.</p>
                <p style="text-decoration:underline;color: blue;font-style: italic;">In the absence of a deliberate, premeditated act of negligence, I will not sue you.</p>
                <div class="margin-V10"></div>
                <div>
                	<p><span class="float-left">Patient (or Guardian) Signature : </span><span class="fill-blank220 float-left"></span><span class="float-left margin-H5">Date:</span> <span class="fill-blank220 word-space20 float-left"></span></p><div class="clear-both margin-V10"></div>
                	<p><span class="float-left">Patient Name : </span><span class="fill-blank440" data-ng-bind="cmic.patientName"></span></p><div class="clear-both margin-V10"></div>
                	<p><span class="float-left">Witness Signature : </span><span class="fill-blank220 float-left"></span><span class="float-left margin-H5">Date:</span> <span class="fill-blank220 word-space20 float-left"></span></p><div class="clear-both margin-V10"></div>
                </div>
             </section>
             
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                