<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Derma Laser Centers of New Jersey</title>
    <!--[if lt IE 9]>
    <script src="js/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="styles/print-bootstrap.css" />
    <link rel="stylesheet" href="styles/print-bootstrap-theme.css" />
    <link rel="stylesheet" href="styles/print-consentforms.css" />
    <style type="text/css">
	    @media screen {
		    header.onlyprint, footer.onlyprint{
		        display: none; /* Hide from screen */
		    }
		}
		
		@media print {
		    header.onlyprint {
		        position: fixed; /* Display only on print page (each) */
		        top: 0; /* Because it's header */
		    }
		    footer.onlyprint {
		        position: fixed;
		        bottom: 0; /* Because it's footer */
		    }
		}  
		
		@page  
		{ 
		    size: auto;   /* auto is the initial value */ 
		    /* this affects the margin in the printer settings */ 
		    padding: 25mm 25mm 25mm 25mm;  
		}
    </style>
</head>
<body>
    <div class="mainouterbox">
        <div class="container-fluid">
            <header>
                <div class="margin-V10"></div>
                <section>
                    <div class="col20 text-left"><img src="images/dc-logo.jpg" alt=""></div>
                    <div class="col60 text-center">
                        <img src="images/dc-logo.jpg" alt="">
                    </div>
                    <div class="col20 text-right"><img src="images/dc-logo.jpg" alt=""></div>
                </section>

                <section>
                    <div class="col20 text-left"><img src="images/dc-logo.jpg" alt=""></div>
                    <div class="col60 text-center">
                        <h1>Derma Laser Centers Of New Jersey</h1>
                        <h5>2239 Whitehorse Mercerville Rd, Mercerville, NJ 08619 </h5>
                        <h4>Laser &amp; Cosmetic Skin Surgery</h4>
                        <span class="col50">www.dermanj.com</span>
                        <span class="col50">www.hairdocnj.com</span>
                    </div>
                    <div class="col20 text-right"><img src="images/dc-logo.jpg" alt=""></div>
                </section>
                <div class="margin-V10"></div>
                <section>
                    <div class="col33 text-left font-bold">Mercer</div>
                    <div class="col33 text-center font-bold">Ridgefield</div>
                    <div class="col33 text-right font-bold">Somerset</div>
                    <div class="col33 text-left">609-631-8558</div>
                    <div class="col33 text-center">201-840-1210</div>
                    <div class="col33 text-right">732-356-8700</div>
                </section>
            </header>
            <section style="padding-left: 2%"> 
                <h2 class="text-center">S-Lift/Feather Lift Consent Form</h2>
                <div class="margin-V20"></div>
                <ol>
	                <li>
	                	<p><span class="float-left">I, </span> <span class="fill-blank440" data-ng-bind="cmic.patientName"></span> hereby consent that Dr. Ayman El-Attar, or his assistants or his designees, to perform Feather face lift surgery on myself. The procedure has been explained to me by the doctor and/or his staff and I completely understand the nature and consequences of the surgery. The following points have been specifically made clear:
			                </br>
			                <ul type="A">
				                <li>That medicine is not an exact science and complications such as death, although extremely rare, may occur.</li>
				                <li>That swelling, bruising and mild discomfort usually occurs.</li>
				                <li>That no guarantees with respect to the final outcome and its longevity can be offered.</li>
				                <li>That infection is possible.</li>
				                <li>That sensation may be altered or completely lost.</li>
				                <li>That function may be altered and that rarely injuries to the facial motor nerves can occur, resulting in weakness of facial muscles.</li>
				                <li>That delayed wound healing and/or poor scarring may occur.</li>
				                <li>That revisions may be necessary.</li>
				                <li>That the healing process takes time and the final result will not be readily visible for many weeks and possibly months.</li>
				                <li>That bleeding may occur and should blood collect (a hematoma), this may require further surgical treatment.</li>
				                <li>That skin loss may occur and that smoking may cause this problem.</li>
				                <li>That chronic or persistent problems may occur which require treatment.</li>
				                <li>That asymmetry (one side of the face does not match the other side) is possible.</li>
				                <li>That small areas of temporary or permanent hair loss may occur.</li>
			                </ul>
	                	</p>
	                </li>
	                <li><p>I understand that a “S” Lift or a Feather Lift is essentially a non-invasive face lift and not a neck lift. As such the improvement of the neck is limited.</p></li>
	                <li><p>I recognize that, during the course of the operation, unforeseen conditions may necessitate additional or different procedures than those set forth above. I therefore further authorize and request that the above-named doctor, his assistants or his designees perform such procedures as are, in his professional judgment, necessary and desirable, including, but not limited to, procedures involving pathology and radiology. The authority granted under this Paragraph 3 shall extend to remedying conditions that are not known to the above doctors at the time the operation is commenced.</p></li>
	                <li><p>I understand that transverse forehead lines, deeps glabellar creases and transverse lines at the root of nose can be improved by brow lifting but these lines cannot be eliminated. Malar pouches below the eyelid bags do not disappear after face lifting and occasionally are accentuated during the immediate post operative period. Nasolabial folds can be softened but they can never be eliminated.</p></li>
	                <li><p>“Marionette lines” from the corner of the mouth to the border of the jaw never disappear completely.</p></li>
	                <li><p>A short neck precludes an ideal cervicomental angle. (i.e.) neck lift.</p></li>
	                <li><p>“Ptotic” or hanging salivary glands are at angle of your jaws are difficult to deal with.</p></li>
	                <li><p>Skin has numerous fine wrinkles and they may need a chemical peel or laser.</p></li>
	                <li><p>Smoking increases the risk of skin slough. “Rees and Colleagues” have reported a risk of skin slough 12 times greater than non-smokers. Patients are requested to stop smoking for two weeks. However the risk in smokers remain.</p></li>
	                <li><p>I am aware that the practice of medicine and surgery is not an exact science, and I acknowledge that no guarantees have been made to me as to the results of the operation or procedure. In the absence of any purposeful intent to harm I will not sue.</p></li>
	                <li><p>I consent to be photographed before, during and after treatment, that these photographs shall be the property of Dr. Ayman El-Attar and may be published in scientific journals and/or shown for scientific or educational reasons.</p></li>
	                <li><p>I agree to keep Dr. Ayman El-Attar informed of any change of address so that he can notify me of any late findings, and I agree to co-operate with the doctor and his staff in my care after surgery until completely discharged. I have read the above consent and fully understand the same and do authorize Dr. Ayman El-Attar to perform this surgical procedure on me. I do not desire to have further explanation, discussion or description of the operation, anesthesia or risks involved.</p></li>
	                
                </ol>         
                
                
                <div class="margin-V10"></div>
                <div>
                	<p>Signed By:</p>
                	<p><span class="float-left">Patient Signature:</span><span class="fill-blank220 float-left"></span><span class="float-left margin-H5">Date:</span> <span class="fill-blank220 word-space20 float-left"></span></p><div class="clear-both margin-V10"></div>
                	<p><span class="float-left">Witness Signature:</span><span class="fill-blank220 float-left"></span><span class="float-left margin-H5">Date:</span> <span class="fill-blank220 word-space20 float-left"></span></p><div class="clear-both margin-V10"></div>
                </div>
                
                
                <footer class="onlyprint">
                	<p><span class="float-left">Patient Initials:</span><span class="fill-blank220 float-left"></span></p><div class="clear-both margin-V10"></div>
				</footer>
			</section>

                

        </div>
    </div>
</body>
</html>
