<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Derma Laser Centers of New Jersey</title>
    <!--[if lt IE 9]>
    <script src="js/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="styles/print-bootstrap.css" />
    <link rel="stylesheet" href="styles/print-bootstrap-theme.css" />
    <link rel="stylesheet" href="styles/print-consentforms.css" />
</head>
<body>
    <div class="mainouterbox">
        <div class="container-fluid">
            <header>
                <div class="margin-V10"></div>
                <section>
                    <div class="col20 text-left"><img src="images/dc-logo.jpg" alt=""></div>
                    <div class="col60 text-center">
                        <img src="images/dc-logo.jpg" alt="">
                    </div>
                    <div class="col20 text-right"><img src="images/dc-logo.jpg" alt=""></div>
                </section>
                <section>
                    <div class="col20 text-left"><img src="images/dc-logo.jpg" alt=""></div>
                    <div class="col60 text-center">
                        <h1>Derma Laser Centers Of New Jersey</h1>
                        <h5>2239 Whitehorse Mercerville Rd SuiteB Hamilton, NJ 08619</h5>
                        <h4>Advocate Primary Care - Dr El-Attar MD</h4>
                        <span class="col50">www.dermanj.com</span>
                        <span class="col50">www.hairdocnj.com</span>
                    </div>
                    <div class="col20 text-right"><img src="images/dc-logo.jpg" alt=""></div>
                </section>
                <div class="margin-V10"></div>
                <section>
                    <div class="col33 text-left font-bold">Tel:</div>
                    <div class="col33 text-center font-bold">&nbsp;</div>
                    <div class="col33 text-right font-bold">Fax:</div>
                    <div class="col33 text-left">609-631-8527</div>
                    <div class="col33 text-center">&nbsp;</div>
                    <div class="col33 text-right">609-631-8118</div>
                </section>
            </header>
            <section>
                <h2 class="text-center fontL">FAX</h2>
                <div class="margin-V20"></div>
            </section>
            <section>
                <div class="col50">
                    <span class="float-left" style="width:150px;">To:</span><span class="fill-blank320" style="width:190px;"></span><div class="clear-both margin-V10"></div>
                    <span class="float-left" style="width:150px;">Fax:</span><span class="fill-blank320" style="width:190px;"></span><div class="clear-both margin-V10"></div>
                    <span class="float-left" style="width:150px;">Date:</span><span class="fill-blank320" style="width:190px;"></span><div class="clear-both margin-V10"></div>
                </div>
                <div class="col50">
                    <span class="float-left" style="width:150px;">From:</span><span class="fill-blank320" style="width:190px;"></span><div class="clear-both margin-V10"></div>
                    <span class="float-left" style="width:150px;">Pages (including cover):</span><span class="fill-blank320" style="width:190px;"></span><div class="clear-both margin-V10"></div>
                    <span class="float-left" style="width:150px;">Re::</span><span class="fill-blank320" style="width:190px;"></span><div class="clear-both margin-V10"></div>
                </div>
                <div class="col50">
                    <span class="float-left" style="width:150px;">*Comments:</span>
                </div>
            </section>
            <div class="only-print" style="float:left;width:100%;display:block;height:480px;"></div>
            <section class="page-footer">
                <p><span class="float-left">Patient Initials:</span><span class="fill-blank220 float-left"></span><span class="float-left margin-H5">Date:</span> <span class="fill-blank220 word-space20 float-left"></span></p><div class="clear-both margin-V10"></div>
            </section>
        </div>
    </div>
</body>
</html>