<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>History and physical</title>
    <!--[if lt IE 9]>
    <script src="js/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="styles/print-bootstrap.css" />
    <link rel="stylesheet" href="styles/print-bootstrap-theme.css" />
    <link rel="stylesheet" href="styles/print-consentforms.css" />
</head>
<body>
    <div class="mainouterbox">
        <div class="container-fluid">
            <header>

                <div class="margin-V10"></div>
                <section>
                    <div class="col20 text-left"><img src="images/dc-logo.jpg" alt=""></div>
                    <div class="col60 text-center">
                        <h1>History and Physical <br /> Derma Laser Center</h1>
                    </div>
                    <div class="col20 text-right"><img src="images/dc-logo.jpg" alt=""></div>
                </section>
                <div class="margin-V10"></div>

            </header>
            <section>
                <span class="float-left">Name:</span><span class="fill-blank440" data-ng-bind="cmic.patientName"></span><span class="float-left">Date:</span><span class="fill-blank220" style="width:290px;"></span><div class="clear-both margin-V10"></div>
                <h3 class="font-bold-6">SOCIAL</h3><div class="margin-V10"></div>
                <span class="float-left">Age:</span><span class="fill-blank50 spacer-h-R10"></span><span class="float-left">Sex: </span><span class="float-left option-section">M</span><span class="float-left option-section spacer-h-R10">F</span><span class="float-left">Married: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><span class="float-left">Occupation:</span><span class="fill-blank220" style="width:380px;"></span><div class="clear-both margin-V10"></div>
                <p><span class="float-left">Responsible Adult Available to Assist During Recovery Period</span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><span class="float-left">Relationship:</span><span class="fill-blank220" style="width:260px;"></span></p><div class="clear-both margin-V10"></div>
                <section>
                    <h3 class="font-bold-6">HABITS</h3><div class="margin-V10"></div>
                    <div class="col50">
                        <span class="float-left">Smoke: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><span class="float-left">Amount:</span><span class="fill-blank150" style="width:180px;"></span><div class="clear-both margin-V10"></div>
                        <span class="float-left">Alcohol: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><span class="float-left">Amount:</span><span class="fill-blank150" style="width:180px;"></span><div class="clear-both margin-V10"></div>
                    </div>
                    <div class="col50">
                        <span class="float-left">Coffee/Tea/Cola: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><span class="float-left">Amount:</span><span class="fill-blank150" style="width:155px;"></span><div class="clear-both margin-V10"></div>
                        <span class="float-left">Daily Exercise: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><span class="float-left">Amount:</span><span class="fill-blank150" style="width:170px;"></span><div class="clear-both margin-V10"></div>
                    </div>
                </section>
                <section>
                    <h3 class="font-bold-6">MEDICATIONS:<span style="font-weight:normal;"> List dose or number of pills per day</span></h3><div class="margin-V10"></div>
                    <div class="col50">
                        <span class="float-left">Prescription Drugs: </span><div class="clear-both margin-V10"></div>
                        <span class="fill-blank320"></span><div class="clear-both margin-V10"></div>
                        <span class="fill-blank320"></span><div class="clear-both margin-V10"></div>
                        <span class="fill-blank320"></span><div class="clear-both margin-V10"></div>
                    </div>
                    <div class="col50">
                        <span class="float-left">Non Prescription (Vitamins; Herbs): </span><div class="clear-both margin-V10"></div>
                        <span class="fill-blank320"></span><div class="clear-both margin-V10"></div>
                        <span class="fill-blank320"></span><div class="clear-both margin-V10"></div>
                        <span class="fill-blank320"></span><div class="clear-both margin-V10"></div>
                    </div>
                </section>
                <div class="clear-both margin-V10"></div>
                <section>
                    <span class="float-left">Regular Aspirin Use: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><span class="float-left">Dosage &amp; frequency:</span><span class="fill-blank220" style="width:445px;"></span><div class="clear-both margin-V10"></div>
                    <span class="float-left">NSA (Advil, Motrin, Ibuprofen): </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><span class="float-left">Dosage &amp; frequency:</span><span class="fill-blank220" style="width:383px;"></span><div class="clear-both margin-V10"></div>
                    <span class="float-left">Cortisone Injections Past Year: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><span class="float-left">Date(s) &amp; injection location:</span><span class="fill-blank220" style="width:340px;"></span><div class="clear-both margin-V10"></div>
                    <span class="float-left">Drug Allergy: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><span class="float-left">List drug(s) and type of reaction</span><span class="fill-blank320" style="width:425px;"></span><div class="clear-both margin-V10"></div>
                    <span class="fill-blank730" style="width:790px;"></span>
                </section><div class="clear-both margin-V10"></div><section>
                    <span class="float-left">Latex Allergy: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><span class="float-left">Tape Allergy: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                </section>
                <section>
                    <h3 class="font-bold-6">FAMILY HISTORY:<span style="font-weight:normal;"> Have any blood relatives every had the following problems:</span></h3><div class="margin-V10"></div>
                    <div class="col33">
                        <span class="float-left" style="width:150px;">Abnormal Bleeding: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:150px;">Abnormal Clotting: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:150px;">Anesthetic Problems: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:150px;">Cancer: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                    </div>
                    <div class="col33">
                        <span class="float-left" style="width:150px;">Coronary Surgery: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:150px;">Diabetes: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:150px;">Heart Attack: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:150px;">Hypertension: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                    </div>
                    <div class="col33">
                        <span class="float-left" style="width:150px;">Kidney Disease: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:150px;">Tuberculosis: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:150px;">Other Serious Illness: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                    </div><div class="clear-both margin-V10"></div>
                    <p>Please describe questions with a "Yes" answer:</p>
                    <span class="fill-blank730" style="width:797px;"></span>
                </section>

                <section>
                    <h3 class="font-bold-6">PERSONAL PAST HISTORY:<span style="font-weight:normal;"> Have you ever had:</span></h3><div class="margin-V10"></div>
                    <div class="col33">
                        <span class="float-left" style="width:150px;">Abnormal Bleeding: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:150px;">Abnormal Clotting: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:150px;">Acid Regurgitation: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:150px;">Anemia: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:150px;">Angina: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                    </div>
                    <div class="col33">
                        <span class="float-left" style="width:150px;">Asthma: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:150px;">Diabetes: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:150px;">Fainting Spell: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:150px;">Heart Attack: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:150px;">Hepatitis: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                    </div>
                    <div class="col33">
                        <span class="float-left" style="width:190px;">Hypertension: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:190px;">Sleep Apnea: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:190px;">Snoring: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:190px;">Weight Change past 12 Mo.: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:190px;">Other Serious Illness: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                    </div><div class="clear-both margin-V10"></div>
                    <p>Please describe questions with a "Yes" answer:</p>
                    <span class="fill-blank730" style="width:797px;"></span>
                </section>
                <div class="clear-both margin-V10"></div>
                <section>
                    <span class="float-left">Have you ever received a transfusion? </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><span class="float-left">If yes, what year? </span><span class="fill-blank320" style="width:360px;"></span><div class="clear-both margin-V10"></div>
                    <span class="float-left">Have you been tested for HIV? </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><span class="float-left">If yes, what year? </span><span class="fill-blank80 spacer-h-R10"></span><span class="float-left">Test results </span><span class="float-left option-section">positive</span><span class="float-left option-section spacer-h-R10">negative</span><div class="clear-both margin-V10"></div>
                    <span class="float-left spacer-h-R10">Do you wear: </span><span class="float-left">Contact lenses</span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><span class="float-left">Eye glasses</span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><span class="float-left">Hearing aid</span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><span class="float-left">Dentures</span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                    <span class="float-left">Previous Surgery, year and type of procedure</span><span class="fill-blank320" style="width:510px;"></span><div class="clear-both margin-V10"></div>
                    <span class="fill-blank730" style="width:800px;"></span><div class="clear-both margin-V20"></div>
                    <p>Indicate the type(s) of anesthesia received in the past, list any complications / reactions you experienced:</p><div class="clear-both margin-V10"></div>

                    <span class="float-left">1. Local anesthesia - (complications/reactions):</span><span class="fill-blank320" style="width:500px;"></span><div class="clear-both margin-V10"></div>
                    <span class="float-left">2. General anesthesia -(complications/reactions):</span><span class="fill-blank320" style="width:488px;"></span><div class="clear-both margin-V10"></div>
                    <span class="float-left">3. Spinal / Epidural - (complications/reactions):</span><span class="fill-blank320" style="width:505px;"></span><div class="clear-both margin-V10"></div>
                    <span class="float-left">Spinal / Epidural - (complications/reactions):</span><span class="fill-blank320" style="width:520px;"></span><div class="clear-both margin-V10"></div>
                </section>
                <section>
                    <span class="float-left spacer-h-R10">Primary Care Physician:</span><span class="float-left">(name):</span><span class="fill-blank320" style="width:300px;"></span><span class="float-left">(telephone)</span> <span class="float-left">(</span><span class="fill-blank20"></span><span class="float-left">)</span></span><span class="fill-blank320" style="width:150px;"></span><div class="clear-both margin-V10"></div>
                    <span class="float-left">(address):</span><span class="fill-blank320" style="width:730px;"></span><div class="clear-both margin-V10"></div>
                </section>
                <section>
                    <h3 class="font-bold-6">WOMEN PATIENTS ONLY:</h3><div class="margin-V10"></div>
                    <span class="float-left">Number of pregnancies </span><span class="fill-blank50"></span><span class="float-left">Number of children </span><span class="fill-blank50"></span><span class="float-left">Last menstrual period </span><span class="fill-blank50"></span><span class="float-left">Did you breast feed?</span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                    <span class="float-left">Name:</span><span class="fill-blank220" style="width:370px;"></span><span class="float-left">MRN:</span><span class="fill-blank150"></span><span class="float-left">Date:</span><span class="fill-blank150"></span><div class="clear-both margin-V10"></div>
                </section>
                <section>
                    <h3 class="font-bold-6">Completed by Physician:</h3><div class="margin-V10"></div>
                    <div class="col50">
                        <span class="float-left" style="width:230px;">REVIEW OF SYSTEMS </span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:230px;">Loose Dental Devices: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:230px;">Neck Mobility Problem: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:230px;">Short Neck: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:230px;">Cough: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:230px;">Shortness of Breath: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:230px;">Recent Upper Respiratory Infection: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:230px;">Normal Menstrual Period: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:230px;">Stroke: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                    </div>
                    <div class="col50">
                        <span class="float-left" style="width:150px;">&nbsp;</span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:150px;">Chest Pain: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:150px;">Irregular Heart Beat: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:150px;">Vomiting: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:150px;">Difficult Voiding: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:150px;">Seizure: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:150px;">Current Pregnancy: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:150px;">Black Out: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:150px;">Obesity: </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                    </div>
                </section>
                <section>
                    <span class="float-left">Comments: </span><span class="fill-blank320" style="width:725px;"></span><div class="clear-both margin-V10"></div>
                    <span class="fill-blank730" style="width:797px;"></span><div class="clear-both margin-V10"></div>
                    <span class="fill-blank730" style="width:797px;"></span><div class="clear-both margin-V10"></div>
                    <span class="fill-blank730" style="width:797px;"></span><div class="clear-both margin-V10"></div>
                    <h3 class="font-bold-6">PHYSICAL EXAM:</h3><div class="margin-V10"></div>
                    <span class="float-left">Height: </span><span class="fill-blank80"></span><span class="float-left">Weight: </span><span class="fill-blank80"></span><span class="float-left">Blood Pressure: </span><span class="fill-blank80"></span><span class="float-left">Pulse: </span><span class="fill-blank80"></span><span class="float-left">Temp: </span><span class="fill-blank80"></span><div class="clear-both margin-V10"></div>
                    <h3 class="font-bold-6">GENERAL STATUS COMMENT:</h3><div class="margin-V10"></div>
                    <span class="float-left">HEENT: </span><span class="fill-blank80"></span><span class="float-left">Vision: </span><span class="fill-blank80"></span><span class="float-left">Pharynx: </span><span class="fill-blank150"></span><span class="float-left">Dental Devices: </span><span class="fill-blank220"></span><div class="clear-both margin-V10"></div>
                    <span class="float-left">Pulmonary: </span><span class="fill-blank320" style="width:730px;"></span><div class="clear-both margin-V10"></div>
                    <span class="float-left">Heart: </span><span class="fill-blank320" style="width:762px;"></span><div class="clear-both margin-V10"></div>
                    <span class="float-left">Abdomen: </span><span class="fill-blank320" style="width:735px;"></span><div class="clear-both margin-V10"></div>
                    <span class="float-left">Extremity: </span><span class="fill-blank320" style="width:735px;"></span><div class="clear-both margin-V10"></div>
                    <span class="float-left">Neurologic (if applicable): </span><span class="fill-blank320" style="width:638px;"></span><div class="clear-both margin-V10"></div>
                    <span class="float-left">Comments: </span><span class="fill-blank320" style="width:725px;"></span><div class="clear-both margin-V10"></div>
                    <span class="fill-blank730" style="width:797px;"></span><div class="clear-both margin-V10"></div>
                    <span class="fill-blank730" style="width:797px;"></span><div class="clear-both margin-V10"></div>
                    <span class="fill-blank730" style="width:797px;"></span><div class="clear-both margin-V10"></div>
                </section>
                <section>
                    <h3 class="font-bold-6">LABORATORY <span style="font-weight:normal;">(if applicable)</span></h3><div class="margin-V10"></div>
                    <div class="col50">
                        <span class="float-left" style="width:150px;">H/H:</span><span class="fill-blank320" style="width:190px;"></span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:150px;">PT:</span><span class="fill-blank320" style="width:190px;"></span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:150px;">Mammogram:</span><span class="fill-blank320" style="width:190px;"></span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:150px;">Pregnancy Test:</span><span class="fill-blank320" style="width:190px;"></span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:150px;">Potassium:</span><span class="fill-blank320" style="width:190px;"></span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:150px;">BUN:</span><span class="fill-blank320" style="width:190px;"></span><div class="clear-both margin-V10"></div>
                    </div>
                    <div class="col50">
                        <span class="float-left" style="width:150px;">WBC:</span><span class="fill-blank320" style="width:190px;"></span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:150px;">Chest X-Ray:</span><span class="fill-blank320" style="width:190px;"></span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:150px;">EKG (Pt over 40):</span><span class="fill-blank320" style="width:190px;"></span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:150px;">Sodium Chloride:</span><span class="fill-blank320" style="width:190px;"></span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:150px;">CO<sub>2</sub>:</span><span class="fill-blank320" style="width:190px;"></span><div class="clear-both margin-V10"></div>
                        <span class="float-left" style="width:150px;">Creatinine:</span><span class="fill-blank320" style="width:190px;"></span><div class="clear-both margin-V10"></div>
                    </div>
                </section>
                <section>
                    <span class="float-left">Comments: </span><span class="fill-blank320" style="width:725px;"></span><div class="clear-both margin-V10"></div>
                    <span class="fill-blank730" style="width:797px;"></span><div class="clear-both margin-V10"></div>
                    <span class="fill-blank730" style="width:797px;"></span><div class="clear-both margin-V10"></div>
                    <span class="fill-blank730" style="width:797px;"></span><div class="clear-both margin-V10"></div>
                </section>
                <div class="footer"></div>

        </div>
    </div>
</body>
</html>
