<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Derma Laser Centers of New Jersey</title>
    <!--[if lt IE 9]>
    <script src="js/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="styles/print-bootstrap.css" />
    <link rel="stylesheet" href="styles/print-bootstrap-theme.css" />
    <link rel="stylesheet" href="styles/print-consentforms.css" />
</head>
<body>
    <div class="mainouterbox">
        <div class="container-fluid">
            <header>
                <div class="margin-V10"></div>
                <section>
                    <div class="col20 text-left"><img src="images/dc-logo.jpg" alt=""></div>
                    <div class="col60 text-center">
                        <img src="images/dc-logo.jpg" alt="">
                    </div>
                    <div class="col20 text-right"><img src="images/dc-logo.jpg" alt=""></div>
                </section>

                <section>
                    <div class="col20 text-left"><img src="images/dc-logo.jpg" alt=""></div>
                    <div class="col60 text-center">
                        <h1>Derma Laser Centers Of New Jersey</h1>
                        <h5>2239 Whitehorse Mercerville Rd, Mercerville, NJ 08619 </h5>
                        <h4>Cosmetic Laser Surgery and Hair Restoration</h4>
                        <span class="col50">www.dermanj.com</span>
                        <span class="col50">www.hairdocnj.com</span>
                    </div>
                    <div class="col20 text-right"><img src="images/dc-logo.jpg" alt=""></div>
                </section>
                <div class="margin-V10"></div>
                <section>
                    <div class="col33 text-left font-bold">Mercer</div>
                    <div class="col33 text-center font-bold">Ridgefield</div>
                    <div class="col33 text-right font-bold">Somerset</div>
                    <div class="col33 text-left">609-631-8558</div>
                    <div class="col33 text-center">201-840-1210</div>
                    <div class="col33 text-right">732-356-8700</div>
                </section>
            </header>
            <section>
                <h2 class="text-center">MICRODERMABRASION</h2>
                <div class="margin-V20"></div>
                <p>Microdermabrasion delivers a steady powerful stream of fine diamond crystals to the skin.  It showers or blasts the face with sterile micro-particles to abrade or rub off the very top skin layer, then vacuums the particles and dermabraded skin.  The skin renewal procedure may also be used on the chest, neck, arms and hands with virtually no complications.</p>
                <p>The treatment seeks to preserve and maintain the skin’s appearance, is noninvasive, produces minimal discomfort, requires no topical or local anesthesia, and involves practically no recovery or downtime.</p>
                <p>Patient satisfaction with microdermabrasion has been consistently and overwhelmingly positive.  Patients really enjoy the treatment and are pleased with the results.  Monthly treatments are recommended for optimal results.  Further, ongoing maintenance sessions will be needed.</p>
                <div class="margin-V10"></div>
                <h3 class="font-bold-6 fontL">Microdermabrasion:</h3>
                <section>
                    <ol class="list-space-num">
                        <li>Greatly enhances poor, dull skin texture by gently resurfacing the superficial skin layers.</li>
                        <li>Softens and modifies fine 'expression' lines typically seen on the forehead and around the mouth.</li>
                        <li>Polishes and reduces fine, crepe lines on the cheeks generally caused by aging and sun damage.</li>
                        <li>Smoothes pigment changes or skin discoloration.</li>
                        <li>Contracts enlarged pores; exfoliates and suctions out clogged pores in cases of acne.</li>
                        <li>Polishes and smoothes out the margins of acne and burn scars; usually requires 10 initial treatment visits.</li>
                    </ol>
                </section>
                <div class="margin-V10"></div>
                <p>The technique is especially beneficial as an adjunctive therapy to accelerate or maintain other skin renewal modalities, like laser therapy, Retin-A therapy or glycolic therapies.</p>
                <div class="only-print" style="float:left;width:100%;display:block;height:170px;"></div>
                <section class="page-footer">
                    <p><span class="float-left">Patient Initials:</span><span class="fill-blank220 float-left"></span><span class="float-left margin-H5">Date:</span> <span class="fill-blank220 word-space20 float-left"></span><span class="float-left margin-H5">Consent for Fat Transfer</span></p><div class="clear-both margin-V10"></div>
                </section>


        </div>
    </div>
</body>
</html>
