<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Derma Laser Centers of New Jersey</title>
    <!--[if lt IE 9]>
    <script src="js/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="styles/print-bootstrap.css" />
    <link rel="stylesheet" href="styles/print-bootstrap-theme.css" />
    <link rel="stylesheet" href="styles/print-consentforms.css" />
</head>
<body>
    <div class="mainouterbox">
        <div class="container-fluid">
            <header>
                <div class="margin-V10"></div>
                <section>
                    <div class="col20 text-left"><img src="images/dc-logo.jpg" alt=""></div>
                    <div class="col60 text-center">
                        <img src="images/dc-logo.jpg" alt="">
                    </div>
                    <div class="col20 text-right"><img src="images/dc-logo.jpg" alt=""></div>
                </section>

                <section>
                    <div class="col20 text-left"><img src="images/dc-logo.jpg" alt=""></div>
                    <div class="col60 text-center">
                        <h1>Derma Laser Centers Of New Jersey</h1>
                        <h5>2239 Whitehorse Mercerville Rd, Mercerville, NJ 08619 </h5>
                        <h4>Cosmetic Laser Surgery and Hair Restoration</h4>
                        <span class="col50">www.dermanj.com</span>
                        <span class="col50">www.hairdocnj.com</span>
                    </div>
                    <div class="col20 text-right"><img src="images/dc-logo.jpg" alt=""></div>
                </section>
                <div class="margin-V10"></div>
                <section>
                    <div class="col33 text-left font-bold">Mercer</div>
                    <div class="col33 text-center font-bold">Ridgefield</div>
                    <div class="col33 text-right font-bold">Somerset</div>
                    <div class="col33 text-left">609-631-8558</div>
                    <div class="col33 text-center">201-840-1210</div>
                    <div class="col33 text-right">732-356-8700</div>
                </section>
            </header>
            <section>
                <h2 class="text-center">Consent Form for the MegaPeel (Microdermabrasion)</h2>
                <div class="margin-V20"></div>
                <p>Prior to receiving this treatment, I have been candid in revealing any condition that may have a bearing in this procedure, such as, pregnancy, recent facial peels or surgery, allergies, tendencies to cold sores and fever blisters, use of Retin-A, Accutane or hormones.</p>
                <p>I understand there may be some degree of minor discomfort, i.e., scratchiness, itchy.</p>
                <p>I understand there are no guarantees to this procedure.</p>
                <p>I understand that to achieve maximum results, I will need several ongoing treatments and use a daily product over a period of time.</p>
                <p>I understand that the possibility of irritation and redness exists and that I should notify my skin care professional when irritation persists.</p>
                <p>I will follow the home care program specifically designed for me without changing or adding any products without consulting with my skin care professional.</p>
                <p>I have read the enclosed consultation and understand the contents.</p>
                <p>I agree to all of the above to have this treatment performed on me and will follow all prescribed directions regarding post peel care.</p>
                <div class="margin-V40"></div>
                <p><span class="float-left">Print Name: </span><span class="fill-blank220 float-left" style="width:732px;" data-ng-bind="cmic.patientName"></span></p><div class="clear-both margin-V10"></div>
                <p><span class="float-left">Address: </span><span class="fill-blank220 float-left" style="width:752px;"></span></p><div class="clear-both margin-V10"></div>
                <span class="fill-blank220 float-left" style="width:807px;"></span><div class="clear-both margin-V10"></div>
                <p><span class="float-left">Phone: </span><span class="fill-blank220 float-left" style="width:762px;"></span></p><div class="clear-both margin-V10"></div>

                <p><span class="float-left">Signature: </span><span class="fill-blank220 float-left"></span><span class="float-left margin-H5">Date:</span> <span class="fill-blank220 word-space20 float-left"></span></p><div class="clear-both margin-V10"></div>



                <div class="footer"></div>

        </div>
    </div>
</body>
</html>
