<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Derma Laser Centers of New Jersey</title>
    <!--[if lt IE 9]>
    <script src="js/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="styles/print-bootstrap.css" />
    <link rel="stylesheet" href="styles/print-bootstrap-theme.css" />
    <link rel="stylesheet" href="styles/print-consentforms.css" />
</head>
<body>
    <div class="mainouterbox">
        <div class="container-fluid">
            <header>
                <div class="margin-V10"></div>
                <section>
                    <div class="col20 text-left"><img src="images/dc-logo.jpg" alt=""></div>
                    <div class="col60 text-center">
                        <img src="images/dc-logo.jpg" alt="">
                    </div>
                    <div class="col20 text-right"><img src="images/dc-logo.jpg" alt=""></div>
                </section>

                <section>
                    <div class="col20 text-left"><img src="images/dc-logo.jpg" alt=""></div>
                    <div class="col60 text-center">
                        <h1>Derma Laser Centers Of New Jersey</h1>
                        <h5>2239 Whitehorse Mercerville Rd, Mercerville, NJ 08619 </h5>
                        <h4>Cosmetic Laser Surgery and Hair Restoration</h4>
                        <span class="col50">www.dermanj.com</span>
                        <span class="col50">www.hairdocnj.com</span>
                    </div>
                    <div class="col20 text-right"><img src="images/dc-logo.jpg" alt=""></div>
                </section>
                <div class="margin-V10"></div>
                <section>
                    <div class="col33 text-left font-bold">Mercer</div>
                    <div class="col33 text-center font-bold">Ridgefield</div>
                    <div class="col33 text-right font-bold">Somerset</div>
                    <div class="col33 text-left">609-631-8558</div>
                    <div class="col33 text-center">201-840-1210</div>
                    <div class="col33 text-right">732-356-8700</div>
                </section>
            </header>
            <section>
                <h2 class="text-center">VI Peel Patient Intake Form</h2>
                <div class="margin-V20"></div>
                <span class="float-left">Name:</span><span class="fill-blank320" style="width:772px;" data-ng-bind="cmic.patientName"></span><div class="clear-both margin-V10"></div>
                <span class="float-left">Age: </span><span class="fill-blank50  spacer-h-R10"></span><span class="float-left">DOB: </span><span class="fill-blank150  spacer-h-R10"></span><span class="float-left">Sex:</span><span class="float-left option-section">M</span><span class="float-left option-section spacer-h-R10">F</span><span class="float-left">Date: </span><span class="fill-blank150"></span><div class="clear-both margin-V10"></div>
                <span class="float-left">City:</span><span class="fill-blank320" style="width:785px;"></span><div class="clear-both margin-V10"></div>
                <span class="float-left">ST: </span><span class="fill-blank50  spacer-h-R10"></span><span class="float-left">DOB: </span><span class="fill-blank150  spacer-h-R10"></span><span class="float-left">Zip: </span><span class="fill-blank150"></span><div class="clear-both margin-V10"></div>

                <h2 class="text-left"> Circle all skin concern(s) that you are seeking improvement upon.</h2><div class="clear-both margin-V10"></div>
                <span class="float-left option-section">PIGMENT</span><span class="float-left option-section">AGING</span><span class="float-left option-section">ACNE</span><span class="float-left option-section">ROSACEA</span><span class="float-left option-section">OTHER</span>
                <span class="fill-blank150"></span><div class="clear-both margin-V10"></div>
                <p>Are you pregnant or breastfeeding? <span style="float:none;width:200px;height:20px;border-bottom:1px solid #000;padding:0 5px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span> If yes, you are contraindicated for a chemical peel.</p><div class="clear-both margin-V10"></div>
                <span class="float-left">Do you have permanent makeup? </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                <span class="float-left">Do you wear contacts? </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                <span class="float-left">Have you recently had facial or body waxing or used at home depilatories? </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                <span class="float-left">Do you currently have sunburn or wind burned skin? </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><span class="float-left">If yes, you are contraindicated.</span><div class="clear-both margin-V10"></div>
                <span class="float-left">Do you have extended outdoor plans in the next 7 days? </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                <span class="float-left">Do you plan to participate in vigorous exercise in the next 72 hours? </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                <span class="float-left">Have you had any active skin care treatments in the past 21 days? </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                <p>If yes, how long ago? <span class="fill-blank50"></span></p><div class="clear-both margin-V10"></div>
                <span class="float-left">List all topical products applied in the past 7 days </span><span class="fill-blank320" style="width:502px;"></span><div class="clear-both margin-V10"></div>
                <span class="fill-blank320" style="width:812px;"></span><div class="clear-both margin-V5"></div>

                <div class="only-print" style="float:left;width:100%;display:block;height:40px;"></div>
                <section class="page-footer">
                    <p><span class="float-left">Patient Initials:</span><span class="fill-blank220 float-left"></span><span class="float-left margin-H5">Date:</span> <span class="fill-blank220 word-space20 float-left"></span></p><div class="clear-both margin-V10"></div>
                </section>
                <p class="pagebreak-after"> <!-- page break --> </p>
                <div class="margin-V20 only-print"></div>
                <span class="float-left">List all prescription medications currently taken and in the past two weeks </span><span class="fill-blank320" style="width:348px;"></span><div class="clear-both margin-V20"></div>
                <span class="fill-blankB780 word-space20 float-left" style="width:810px;">(NOTE: patient MUST be off Accutane for 3-6 months prior to peeling)</span><div class="clear-both margin-V10"></div>
                <span class="float-left">Have you recently undergone any surgery or laser Treatments in the area to be treated? </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                <span class="float-left">If yes, please provide detail </span><span class="fill-blank320" style="width:635px;"></span><div class="clear-both margin-V20"></div>
                <span class="float-left">Do you receive injectables? (Botox, Fillers) </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                <span class="float-left">Do you develop cold sores? </span><span class="float-left option-section">Y</span><span class="float-left option-section spacer-h-R10">N</span><div class="clear-both margin-V10"></div>
                <span class="float-left">Do you have any known allergies or sensitivities? Please List </span><span class="fill-blank320" style="width:425px;"></span><div class="clear-both margin-V10"></div>
                <span class="fill-blank320" style="width:812px;"></span><div class="clear-both margin-V10"></div>
                <span class="float-left">Describe your ethnic background (English, Hispanic, Italian, German, Asian, Native American, African American, Etc) </span><span class="fill-blank50" style="width:75px;"></span><div class="clear-both margin-V10"></div>
                <span class="fill-blank320" style="width:812px;"></span><div class="clear-both margin-V10"></div>
                <span class="float-left">How would you describe your skin? </span><span class="float-left option-section">SENSITIVE</span><span class="float-left option-section">NORMAL</span><span class="float-left option-section">RESILLIENT</span>

            </section>
            <div class="only-print" style="float:left;width:100%;display:block;height:650px;"></div>
            <section class="page-footer">
                <p><span class="float-left">Patient Initials:</span><span class="fill-blank220 float-left"></span><span class="float-left margin-H5">Date:</span> <span class="fill-blank220 word-space20 float-left"></span></p><div class="clear-both margin-V10"></div>
            </section>
            <div class="footer"></div>

        </div>
    </div>
</body>
</html>
