<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Derma Laser Centers of New Jersey</title>
    <!--[if lt IE 9]>
    <script src="js/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="styles/print-bootstrap.css" />
    <link rel="stylesheet" href="styles/print-bootstrap-theme.css" />
    <link rel="stylesheet" href="styles/print-consentforms.css" />
</head>
<body>
    <div class="mainouterbox">
        <div class="container-fluid">
            <header>
                <div class="margin-V10"></div>
                <section>
                    <div class="col20 text-left"><img src="images/dc-logo.jpg" alt=""></div>
                    <div class="col60 text-center">
                        <img src="images/dc-logo.jpg" alt="">
                    </div>
                    <div class="col20 text-right"><img src="images/dc-logo.jpg" alt=""></div>
                </section>

                <section>
                    <div class="col20 text-left"><img src="images/dc-logo.jpg" alt=""></div>
                    <div class="col60 text-center">
                        <h1>Derma Laser Centers Of New Jersey</h1>
                        <h5>2239 Whitehorse Mercerville Rd, Mercerville, NJ 08619 </h5>
                        <h4>Cosmetic Laser Surgery and Hair Restoration</h4>
                        <span class="col50">www.dermanj.com</span>
                        <span class="col50">www.hairdocnj.com</span>
                    </div>
                    <div class="col20 text-right"><img src="images/dc-logo.jpg" alt=""></div>
                </section>
                <div class="margin-V10"></div>
                <section>
                    <div class="col33 text-left font-bold">Mercer</div>
                    <div class="col33 text-center font-bold">Ridgefield</div>
                    <div class="col33 text-right font-bold">Somerset</div>
                    <div class="col33 text-left">609-631-8558</div>
                    <div class="col33 text-center">201-840-1210</div>
                    <div class="col33 text-right">732-356-8700</div>
                </section>
            </header>
            <section>
                <h2 class="text-center">VI Peel Instructions</h2>
                <h2 class="text-center">VI PEEL with Precision Instructions</h2>
                <h2 class="text-center">VI Peel Purify Instructions</h2>
                <div class="margin-V20"></div>
                <p>3 Dark Green Towelettes</p>
                <p>1 VI Derm Post Peel Protectant</p>
                <p>1 SPF 50+</p>
                <h3 class="font-bold-6 fontL">Day 1</h3>
                <p><strong>4 hours</strong> after peel at <span style="float:none;width:200px;height:20px;border-bottom:1px solid #000;padding:0 5px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span> cleanse the skin with VI Derm cleanser and rinse with cold water.  Dry thoroughly and rub the 1st Dark Green towelette labeled #1 VIGOROUSLY over the treated area, including eyelids, but avoiding the eye (Do not wash off).</p>
                <div class="margin-V10"></div>
                <p><strong>1 hour</strong> before bedtime at <span style="float:none;width:200px;height:20px;border-bottom:1px solid #000;padding:0 5px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span> cleanse with skin with VI Derm cleanser and rinse with cold water.  Dry thoroughly and rub the 2nd Dark Green towelette labeled #2 VIGOROUSLY over treated area, including eyelids, but avoiding the eye (Do not wash off).</p>
                <div class="margin-V10"></div>

                <h3 class="font-bold-6 fontL">Day 2</h3>
                <p>Apply the post peel cream 2-3 times a day.  Apply the VI Derm SPF 50+ 30 minutes prior to going outdoors.  Repeat every 2 hours if exposed to sunlight.</p>
                <p><strong>1 hour before bedtime</strong> at <span style="float:none;width:200px;height:20px;border-bottom:1px solid #000;padding:0 5px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span> cleanse the skin with VI Derm cleanser and rinse with cold water.  Dry thoroughly and rub the 3rd towelette labeled #3 VOFGOROUSLY over the peeled area, including eyelids, but avoiding the eyes (Do not wash off).</p>
                <div class="margin-V10"></div>
                <div class="only-print" style="float:left;width:100%;display:block;height:50px;"></div>
                <section class="page-footer">
                    <p><span class="float-left">Patient Initials:</span><span class="fill-blank220 float-left"></span><span class="float-left margin-H5">Date:</span> <span class="fill-blank220 word-space20 float-left"></span></p><div class="clear-both margin-V10"></div>
                </section>
                <p class="pagebreak-after"> <!-- page break --> </p>
                <div class="margin-V20 only-print"></div>
                <h3 class="font-bold-6 fontL">Day 3</h3>
                <p>Your skin will begin to peel.  Continue applying the post peel protectant 2-3 times a day and the VI Derm SPF 50+, 30 minutes prior to going outdoors.</p>
                <div class="margin-V20"></div>

                <h3 class="font-bold-6 fontL">DO NOT:</h3>
                <ol class="list-space">
                    <li>DO NOT apply anything on the skin for the next 4 hours after peel application.</li>
                    <li>DO NOT exercise for the next 72 hours to avoid blisters.</li>
                    <li>DO NOT wash your skin with hot water to avoid premature peeling.</li>
                    <li>DO NOT expose skin to direct sunlight, to avoid hyperpigmentation and melasma.</li>
                    <li>DO NOT scratch or pick your skin during peeling phase to avoid scarring and pigmentation.</li>
                </ol>

                <div class="margin-V10"></div>

                <h3 class="font-bold-6 fontL">MUST DO:</h3>
                <ol class="list-space">
                    <li>Apply SPF 50+ on your skin when exposed to sunlight.</li>
                    <li>Wear a hat when exposed to sunlight.</li>
                    <li>Apply VI Derm Post Peel Protectant 2-3 times daily until skin is completely healed.</li>
                    <li>Note: If discomfort or reaction occurs, which is rare, wash your face with a mild cleanser and cold water. You may also take ibuprofen.</li>
                </ol>

            </section>
            <div class="only-print" style="float:left;width:100%;display:block;height:590px;"></div>
            <section class="page-footer">
                <p><span class="float-left">Patient Initials:</span><span class="fill-blank220 float-left"></span><span class="float-left margin-H5">Date:</span> <span class="fill-blank220 word-space20 float-left"></span></p><div class="clear-both margin-V10"></div>
            </section>

        </div>
    </div>
</body>
</html>
