<div class="grid-structure">
    <table class="table" border="0">
        <tbody>
            <tr>
                <td width="11%" style="vertical-align:middle"></td>
                <td width="11%" style="vertical-align:middle"></td>
                <td width="56%" style="text-align:center"><span ng-bind="pc.selectedProcedureName" class="text-center text-capitalize size-h3" style="vertical-align:top"></span></td>
                <td width="11%" style="vertical-align:middle"><button class="btn btn-warning btn-xs" ng-click="pc.updateProcedure()"><span class="glyphicon glyphicon-open"></span> Update</button></td>
                <td width="11%" style="vertical-align:middle"><button class="btn btn-danger btn-xs" style="margin-right:10px;" ng-click="pc.deleteProcedureFromView(pc.selectedProcedure)"><span class="glyphicon glyphicon-trash"></span> Delete</button></td>
            </tr>
        </tbody>
    </table>
    <div class="divider"></div>
    <table class="table" border="0">
        <tbody>
            <tr>
                <td width="20%"><label class="control-label">First Name</label></td>
                <td width="30%"><input type="text" class="form-control" data-ng-model="pc.patientDetails.firstName"></td>
                <td width="20%"><label class="control-label">Last Name</label></td>
                <td width="30%"><input type="text" class="form-control" data-ng-model="pc.patientDetails.lastName"></td>
            </tr>
            <tr>
                <td width="20%"><label class="control-label">Date</label></td>
                <td width="30%"><input kendo-date-picker k-format="'MM-dd-yyyy'" style="width: 100%" data-ng-model="pc.selectedProcedure.ProcedureDate" /></td>
                <td width="20%"><label class="control-label">Session #</label></td>
                <td width="30%"><input type="text" class="form-control" data-ng-model="pc.selectedProcedure.TreatmentSequenceId"></td>
            </tr>
        </tbody>
    </table>
    <table class="table" border="0">
        <tbody>
            <tr>
                <td width="25%"><label class="control-label">Prior treatment complication ?</label></td>
                <td width="5%"><input type="checkbox" data-ng-model="pc.selectedProcedure.PriorComplication"></td>
                <td width="50%"><input type="text" class="form-control" data-ng-model="pc.selectedProcedure.ComplicationDescription"></td>
            </tr>
        </tbody>
    </table>
    <fieldset class="scheduler-border" style="width: 400px;">
        <legend class="scheduler-border"> BLT Cream Used </legend>
        <table class="table" border="0">
            <tbody>
                <tr>
                    <td width="25%"></td>
                    <td width="25%" style="text-align:center"><input type="checkbox" data-ng-model="pc.selectedProcedure.BLTCreamUsedYes"> Yes</td>
                    <td width="25%" style="text-align:center"><input type="checkbox" data-ng-model="pc.selectedProcedure.BLTCreamUsedNo"> No</td>
                    <td width="25%"></td>
                </tr>
            </tbody>
        </table>
    </fieldset>
    <fieldset class="scheduler-border" style="width: 500px;">
        <legend class="scheduler-border"> Treated Area </legend>
        <table class="table" border="0">
            <tbody>
                <tr>
                    <td width="25%"><input type="checkbox" data-ng-model="pc.selectedProcedure.UpperLip"> Upper Lip</td>
                    <td width="25%"><input type="checkbox" data-ng-model="pc.selectedProcedure.Chin"> Chin</td>
                    <td width="25%"><input type="checkbox" data-ng-model="pc.selectedProcedure.Leg"> Leg</td>
                    <td width="25%"><input type="checkbox" data-ng-model="pc.selectedProcedure.Chest"> Chest</td>
                </tr>
                <tr>
                    <td width="25%"><input type="checkbox" data-ng-model="pc.selectedProcedure.Face"> Face</td>
                    <td width="25%"><input type="checkbox" data-ng-model="pc.selectedProcedure.Underarms"> Underarms</td>
                    <td width="25%"><input type="checkbox" data-ng-model="pc.selectedProcedure.Bikiniline"> Bikini Line</td>
                    <td width="25%"><input type="checkbox" data-ng-model="pc.selectedProcedure.Ears"> Ears</td>
                </tr>
                <tr>
                    <td width="25%"><input type="checkbox" data-ng-model="pc.selectedProcedure.Neck"> Neck</td>
                    <td width="25%"><input type="checkbox" data-ng-model="pc.selectedProcedure.Arms"> Arms</td>
                    <td width="25%"><input type="checkbox" data-ng-model="pc.selectedProcedure.Bikini"> Full Bikini</td>
                    <td width="25%"><input type="checkbox" data-ng-model="pc.selectedProcedure.Back"> Back</td>
                </tr>
                <tr>
                    <td width="25%"><input type="checkbox" data-ng-model="pc.selectedProcedure.Thigh"> Thigh</td>
                    <td width="25%"><input type="checkbox" data-ng-model="pc.selectedProcedure.OtherArea"> Other Area</td>
                    <td width="25%"> </td>
                    <td width="25%"> </td>
                </tr>
                <tr>
                    <td width="100%" colspan="4"><input type="text" class="form-control" data-ng-model="pc.selectedProcedure.OtherAreaDescription"></td>
                </tr>
            </tbody>
        </table>
    </fieldset>
    <fieldset class="scheduler-border" style="width: 500px;">
        <legend class="scheduler-border"> Energy </legend>
        <table class="table" border="0">
            <tbody>
                <tr>
                    <td width="20%"><input type="checkbox" data-ng-model="pc.selectedProcedure.Energy30"> 30 J/cm2</td>
                    <td width="20%"><input type="checkbox" data-ng-model="pc.selectedProcedure.Energy45"> 45 J/cm2</td>
                    <td width="20%"><input type="checkbox" data-ng-model="pc.selectedProcedure.Energy60"> 60 J/cm2</td>
                    <td width="20%"><input type="checkbox" data-ng-model="pc.selectedProcedure.Energy75"> 75 J/cm2</td>
                    <td width="20%"><input type="checkbox" data-ng-model="pc.selectedProcedure.Energy90"> 90 J/cm2</td>
                </tr>
            </tbody>
        </table>
    </fieldset>
    <fieldset class="scheduler-border" style="width: 500px;">
        <legend class="scheduler-border"> PPS </legend>
        <table class="table" border="0">
            <tbody>
                <tr>
                    <td width="25%"><input type="checkbox" data-ng-model="pc.selectedProcedure.PPS1"> 1 pps</td>
                    <td width="25%"><input type="checkbox" data-ng-model="pc.selectedProcedure.PPS15"> 1.5 pps</td>
                    <td width="25%"><input type="checkbox" data-ng-model="pc.selectedProcedure.PPS2"> 2 pps</td>
                    <td width="25%"><input type="checkbox" data-ng-model="pc.selectedProcedure.PPS25"> 2.5 pps</td>
                </tr>
                <tr>
                    <td width="25%"><input type="checkbox" data-ng-model="pc.selectedProcedure.PPS3"> 3 pps</td>
                    <td width="25%"><input type="checkbox" data-ng-model="pc.selectedProcedure.PPSMax"> Max</td>
                    <td width="25%"></td>
                    <td width="25%"></td>
                </tr>
            </tbody>
        </table>
    </fieldset>
    <fieldset class="scheduler-border" style="width: 500px;">
        <legend class="scheduler-border"> Spot Size </legend>
        <table class="table" border="0">
            <tbody>
                <tr>
                    <td width="30%"><input type="checkbox" data-ng-model="pc.selectedProcedure.SpotSize5"> 5 mm</td>
                    <td width="30%"><input type="checkbox" data-ng-model="pc.selectedProcedure.SpotSize7"> 7 mm</td>
                    <td width="30%"><input type="checkbox" data-ng-model="pc.selectedProcedure.SpotSize10"> 10 mm</td>
                    <td width="10%"></td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</div>