<div class="grid-structure">
    <table class="table" border="0">
        <tbody>
            <tr>
                <td width="11%" style="vertical-align:middle"></td>
                <td width="11%" style="vertical-align:middle"></td>
                <td width="56%" style="text-align:center"><span ng-bind="pc.selectedProcedureName" class="text-center text-capitalize size-h3" style="vertical-align:top"></span></td>
                <td width="11%" style="vertical-align:middle"><button class="btn btn-warning btn-xs" ng-click="pc.updateProcedure()"><span class="glyphicon glyphicon-open"></span> Update</button></td>
                <td width="11%" style="vertical-align:middle"><button class="btn btn-danger btn-xs" style="margin-right:10px;" ng-click="pc.deleteProcedure()"><span class="glyphicon glyphicon-trash"></span> Delete</button></td>
            </tr>
        </tbody>
    </table>
    <div class="divider"></div>
    <table class="table" border="0">
        <tbody>
            <tr>
                <td width="20%"><label class="control-label">First Name</label></td>
                <td width="30%"><input type="text" class="form-control" data-ng-model="pc.patientDetails.firstName"></td>
                <td width="20%"><label class="control-label">Last Name</label></td>
                <td width="30%"><input type="text" class="form-control" data-ng-model="pc.patientDetails.lastName"></td>
            </tr>
            <tr>
                <td width="20%"><label class="control-label">Date</label></td>
                <td width="30%"><input kendo-date-picker k-format="'MM-dd-yyyy'" style="width: 100%" data-ng-model="pc.selectedProcedure.ProcedureDate" /></td>
                <td width="20%"><label class="control-label">Assistant</label></td>
                <td width="30%"><input type="text" class="form-control" data-ng-model="pc.selectedProcedure.Assistant"></td>
            </tr>
        </tbody>
    </table>
    <table class="table" border="0">
        <tbody>
            <tr>
                <td width="30%"><label class="control-label">Pre-Operative DX</label></td>
                <td width="70%"><input type="text" class="form-control" data-ng-model="pc.selectedProcedure.preopdx"></td>
            </tr>
            <tr>
                <td width="30%"><label class="control-label">Post-Operative</label></td>
                <td width="70%"><input type="text" class="form-control" data-ng-model="pc.selectedProcedure.postopdx"></td>
            </tr>
            <tr>
                <td width="30%"><label class="control-label">Procedure</label></td>
                <td width="70%"><input type="text" class="form-control" data-ng-model="pc.selectedProcedure.procedure"></td>
            </tr>
            <tr>
                <td width="30%"><label class="control-label">Anehesia</label></td>
                <td width="70%"><input type="text" class="form-control" data-ng-model="pc.selectedProcedure.Anehesia"></td>
            </tr>
            <tr>
                <td width="30%"><label class="control-label">History</label></td>
                <td width="70%"><input type="text" class="form-control" data-ng-model="pc.selectedProcedure.History"></td>
            </tr>
            <tr>
                <td width="30%"><label class="control-label">Steps</label></td>
                <td width="70%"><textarea rows="10" class="form-control" data-ng-model="pc.selectedProcedure.Steps"></textarea></td>
            </tr>
            <tr>
                <td width="30%"><label class="control-label">Complication</label></td>
                <td width="70%"><textarea rows="4" class="form-control" data-ng-model="pc.selectedProcedure.Complications"></textarea></td>
            </tr>
        </tbody>
    </table>
</div>