<div class="grid-structure">
    <div class="row">
        <div class="col-lg-12">
            <div ng-include="'views/tabs/patientInfoTab.html'"></div>
        </div>
    </div>
    <div class="divider"></div>
    <table class="table" border="0">
        <tbody>
            <tr>
                <td width="20%"><label class="control-label">First Name</label></td>
                <td width="30%"><input type="text" class="form-control" data-ng-model="pc.patientDetails.firstName" tabindex="1"></td>
                <td width="20%"><label class="control-label">Last Name</label></td>
                <td width="30%"><input type="text" class="form-control" data-ng-model="pc.patientDetails.lastName" tabindex="2"></td>
            </tr>
            <tr>
                <td width="20%"><label class="control-label">Address 1</label></td>
                <td width="30%"><input type="text" class="form-control" data-ng-model="pc.patientDetails.mailingAddress1" tabindex="3"></td>
                <td width="20%"><label class="control-label">Home Phone</label></td>
                <td width="30%"><input type="text" class="form-control" data-ng-model="pc.patientDetails.homePhoneNumber" tabindex="8"></td>
            </tr>
            <tr>
                <td width="20%"><label class="control-label">Address 2</label></td>
                <td width="30%"><input type="text" class="form-control" data-ng-model="pc.patientDetails.mailingAddress2" tabindex="4"></td>
                <td width="20%"><label class="control-label">Work Phone</label></td>
                <td width="30%"><input type="text" class="form-control" data-ng-model="pc.patientDetails.workPhoneNumber" tabindex="9"></td>
            </tr>
            <tr>
                <td width="20%"><label class="control-label">City</label></td>
                <td width="30%"><input type="text" class="form-control" data-ng-model="pc.patientDetails.mailingCity" tabindex="5"></td>
                <td width="20%"><label class="control-label">Mobile No</label></td>
                <td width="30%"><input type="text" class="form-control" data-ng-model="pc.patientDetails.mobileNumber" tabindex="9"></td>
            </tr>
            <tr>
                <td width="20%"><label class="control-label">State</label></td>
                <td width="30%"><input type="text" class="form-control" data-ng-model="pc.patientDetails.mailingState" tabindex="6"></td>
                <td width="20%"><label class="control-label">Next Appointment</label></td>
                <td width="30%"><input kendo-date-time-picker k-interval="15" k-format="'MM-dd-yyyy HH:mm:ss'" k-time-format="'HH:mm'" style="width: 100%" k-ng-model="pc.patientDetails.appointment" tabindex="29" /></td>
            </tr>
            <tr>
                <td width="20%"><label class="control-label">DOB</label></td>
                <td width="30%"><input kendo-date-picker k-format="'MM-dd-yyyy'" style="width: 100%" data-ng-model="pc.patientDetails.dob" tabindex="2" /></td>
                <td width="20%"><label class="control-label">Zip</label></td>
                <td width="30%"><input type="text" class="form-control" data-ng-model="pc.patientDetails.mailingZip" tabindex="7"></td>
            </tr>
            <tr>
                <td width="20%"><label class="control-label">Marital Status</label></td>
                <td width="30%"><input type="text" class="form-control" data-ng-model="pc.patientDetails.maritalStatus" tabindex="10"></td>
                <td width="20%"><label class="control-label">Sex</label></td>
                <td width="30%">
                    <select kendo-drop-down-list style="width: 100%" data-ng-model="pc.patientDetails.sex" tabindex="11">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td width="20%"><label class="control-label">Drivers License</label></td>
                <td width="30%"><input type="text" class="form-control" data-ng-model="pc.patientDetails.driversLicenseNum" tabindex="12"></td>
                <td width="20%"><label class="control-label">Social Security</label></td>
                <td width="30%"><input type="text" class="form-control" data-ng-model="pc.patientDetails.socSec" tabindex="13"></td>
            </tr>
            <tr>
                <td width="20%"><label class="control-label">Spouse/Partner</label></td>
                <td width="30%"><input type="text" class="form-control" data-ng-model="pc.patientDetails.spousePartner" tabindex="14"></td>
                <td width="20%"><label class="control-label">Email</label></td>
                <td width="30%"><input type="text" class="form-control" data-ng-model="pc.patientDetails.email" tabindex="15"></td>
            </tr>
            <tr>
                <td width="20%"><label class="control-label">Primary Care</label></td>
                <td width="30%"><input type="text" class="form-control" data-ng-model="pc.patientDetails.primaryCare" tabindex="16"></td>
                <td width="20%"><label class="control-label">Referred By</label></td>
                <td width="30%"><input type="text" class="form-control" data-ng-model="pc.patientDetails.referredBy" tabindex="17"></td>
            </tr>
            <tr>
                <td width="20%"><label class="control-label">Guarantor Name</label></td>
                <td width="30%"><input type="text" class="form-control" data-ng-model="pc.patientDetails.guarantorName" tabindex="18"></td>
                <td width="20%"><label class="control-label">Pharmacy</label></td>
                <td width="30%"><input type="text" class="form-control" data-ng-model="pc.patientDetails.pharmacy" tabindex="19"></td>
            </tr>
            <tr>
                <td width="20%"><label class="control-label">Social Security</label></td>
                <td width="30%"><input type="text" class="form-control" data-ng-model="pc.patientDetails.guarantorSocSec" tabindex="20"></td>
                <td width="20%"><label class="control-label">DOB (Guarantor)</label></td>
                <td width="30%"><input kendo-date-picker k-format="'MM-dd-yyyy'" style="width: 100%" data-ng-model="pc.patientDetails.guarantorDOB" tabindex="21" /></td>
            </tr>
            <tr>
                <td width="20%"><label class="control-label">Address</label></td>
                <td width="30%"><input type="text" class="form-control" data-ng-model="pc.patientDetails.guarantorAddress" tabindex="22"></td>
                <td width="20%"><label class="control-label">Phone</label></td>
                <td width="30%"><input type="text" class="form-control" data-ng-model="pc.patientDetails.guarantorPhone" tabindex="23"></td>
            </tr>
            <tr>
                <td width="20%"><label class="control-label">State</label></td>
                <td width="30%"><input type="text" class="form-control" data-ng-model="pc.patientDetails.guarantorState" tabindex="24"></td>
                <td width="20%"><label class="control-label">City</label></td>
                <td width="30%"><input type="text" class="form-control" data-ng-model="pc.patientDetails.guarantorCity" tabindex="25"></td>
            </tr>
            <tr>                
                <td width="20%"><label class="control-label">Zip</label></td>
                <td width="30%"><input type="text" class="form-control" data-ng-model="pc.patientDetails.guarantorZip" tabindex="26"></td>
            </tr>
        </tbody>
    </table>
    <table class="table" border="0">
        <tr>
            <td width="20%"><label class="control-label">Allergies</label></td>
            <td width="80%"><input type="text" class="form-control" data-ng-model="pc.patientDetails.allergies" tabindex="27"></td>
        </tr>
        <tr>
            <td width="20%"><label class="control-label">Medical History</label></td>
            <td width="80%"><textarea class="form-control" rows="1" data-ng-model="pc.patientDetails.medicalHistory" tabindex="28"></textarea></td>
        </tr>
    </table>
</div>