<div class="modal-body">
    <div class="row">
        <div class="col-lg-6 text-center" style="vertical-align:middle;">
            <img ng-src="{{cic.firstImage.imageName}}" style="max-width:500px;max-height:500px" />
        </div>
        <div class="col-lg-6 text-center" style="vertical-align:middle">
            <img ng-src="{{cic.secondImage.imageName}}" style="max-width:500px;max-height:500px" />
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="cic.ok()">Close</button>
</div>