<div class="modal-header">
    <h3>Estimates</h3>
</div>
<div class="modal-body">
    <strong>Services to be billed : </strong><span style="color: green; font-size: 14px"><strong>{{emic.patientName}}</strong></span>
    <div class="divider"></div>
    <div kendo-grid="emic.estimatedatagrid"
         k-options="emic.estimategridoptions"
         k-data-source="emic.estimates"></div>
    <div class="divider"></div>
    <strong>Total Services : </strong><span style="color: green; font-size: 14px"><strong>{{emic.totalEstimatedBill}}</strong></span>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="emic.activate()">Activate</button>
    <button class="btn btn-primary" ng-click="emic.ok()">Update</button>
    <button class="btn btn-warning" ng-click="emic.cancel()">Cancel</button>
</div>