<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Special Consent to Operation Form</title>
    <!--[if lt IE 9]>
    <script src="js/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="styles/print-bootstrap.css" />
    <link rel="stylesheet" href="styles/print-bootstrap-theme.css" />
    <link rel="stylesheet" href="styles/print.css" />
</head>
<body>
    <div class="mainouterbox">
        <div class="container-fluid">
            <form method="post" action="">
                <header class="container-fluid">
                    <div class="logodcbox"><img src="images/dc-logo.jpg" alt="" /></div>
                    <div class="formtitlebox">
                        <hgroup>
                            <h2>Derma Laser Centers</h2>
                            <h3>Special Consent to Operation</h3>
                        </hgroup>
                    </div>
                </header>
                <section class="container-fluid margin-T20">
                    <ol>
                        <li>I hereby authorize Dr. Ayman El-Attar and/or such assistants as may be selected by him to perform the following procedures on (myself/patient): Seema Desai <br /><br /> <b>Procedure</b> : <span data-ng-bind="pc.selectedProcedure.ProcedureConsentName"></span><br /><br /></li>
                        <li>The procedure(s) listed in paragraph 1 has/have been explained to me by Dr. Ayman El-Attar.  I have been given the appropriate information regarding the procedure and I have had an opportunity to ask questions.  I understand the nature and consequences of this procedure as follows : <br /><span data-ng-bind="pc.selectedProcedure.ProcedureConsequences"></span><br /><br /><span style="font-size:11px">[Designation of procedure(s) in terms of what will be done to the patient's body and what will be the consequences of the procedure]</span><br /><br /></li>
                        <li>I recognize that during the course of the procedure, unforeseen conditions may necessitate additional or different procedures that those listed above. I therefor authorize and request that the above surgeons/assistants/associates and/or designees performs such procedures as are, in his/her professional judgement, necessary and desirable, including but not limited to, procedures involving pathology and radiology.  The authority granted under this paragraph, 3, shall extend to remedying conditions that are known to doctors named above at the time the operation is started.<br /><br /></li>
                        <li>I consent to use of anesthetics as they may deem advisable.<br /><br /></li>
                        <li>In the event that one of my health care providers sustains an exposure to my blood or body fluids during this procedure I consent to the drawing of my blood and performance of a rapid blood test for antibodies to the HIV 1 virus known to cause AIDS.  This preliminary test will allow determination of whether urgent health care intervention for my health care provider is needed. I will be counseled in detail by my attending physician about the results of such testing.<br /><br /></li>
                        <li>The risks, benefits, potential complications, and alternative options associated with the planned procedure and the possible use of blood were discussed with (me/patient), including infection, hemorrhage, mond dehiscence.<br /><br /></li>
                    </ol>
                    I am aware that the practice of medicine and surgery is not an exact science and I acknowledge that no guarantees have been made to me as to the results of the procedure nor are there any guarantees against an unfavorable result.  I acknowledge that you will do your best for me, but I also recognize that you lack infallibility and that mistakes and accidents can occur in medicine as they can in any discipline.  In the absence of a deliberate, premeditated act of negligence, I will not sue you.<br /><br />
                </section>
                <div class="col-lg-12" style="text-align:center">
                    <div class="col-lg-6">
                        <div class="col-lg-4" style="border-bottom:1px solid">
                            <span data-ng-bind=""></span>
                        </div>
                        <div class="col-lg-4">

                        </div>
                        <div class="col-lg-4" style="border-bottom:1px solid">
                            <span data-ng-bind=""></span>
                        </div>
                    </div>
                    <div class="col-lg-6" style="border-bottom:1px solid">
                        &nbsp;
                    </div>
                </div>
                <div class="col-lg-12" style="text-align:center">
                    <div class="col-lg-6">
                        <div class="col-lg-4">
                            Date
                        </div>
                        <div class="col-lg-4">

                        </div>
                        <div class="col-lg-4">
                            Time
                        </div>
                    </div>
                    <div class="col-lg-6" style="font-size:11px">
                        Patient Signature
                    </div>
                </div>
                <div class="clear"></div>
                <br />
                <br />
                <div class="col-lg-12">
                    <div class="col-lg-6" style="font-size:11px">
                        If patient is a minor or is unable to sign, complete the following:<br />
                        [ ] Patient is a minor, ____ years of age, or<br />
                        [ ] Patient is unable to sign because, (complete reason)<br />
                    </div>
                    <div class="col-lg-6" style="border-bottom:1px solid">
                        &nbsp;
                    </div>
                </div>
                <div class="col-lg-12" style="text-align:center">
                    <div class="col-lg-6">

                    </div>
                    <div class="col-lg-6" style="margin-top:-25px;font-size:11px">
                        Closest Relative or Guardian Signature
                    </div>
                </div>
                <div class="clear"></div>
                <br />
                <br />
                <div class="col-lg-12" style="text-align:center;font-size:11px">
                    <div class="col-lg-6" style="border-top:1px solid">
                        Reason
                    </div>
                    <div class="col-lg-6" style="border-top:1px solid">
                        Relationship to Patient
                    </div>
                </div>
                <div class="clear"></div>
                <span class="clear"></span>
                <span class="clear-space30"></span>
                <span class="signtitlebox text-left">Ayman El-Attar, MD.</span>
                <span class="clear"></span>
                <img src="images/signature.gif" alt="" />
                <div class="col-lg-12" style="text-align:center;font-size:11px">
                    <div class="col-lg-6">
                        Physician Signature
                    </div>
                    <div class="col-lg-6">
                        Witness Signature
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>