<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Facial Augmentation Treatment Record</title>
    <!--[if lt IE 9]>
    <script src="js/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="styles/print-bootstrap.css" />
    <link rel="stylesheet" href="styles/print-bootstrap-theme.css" />
    <link rel="stylesheet" href="styles/print.css" />
</head>
<body>
    <div class="mainouterbox">
        <div class="container-fluid">
            <form method="post" action="">
                <header class="container-fluid">
                    <div class="logodcbox"><img src="images/dc-logo.jpg" alt="" /></div>
                    <div class="formtitlebox">
                        <hgroup style="margin-left:-50px">
                            <h2>Derma Laser Centers</h2>
                            <h3>Facial Augmentation Treatment Record</h3>
                        </hgroup>
                    </div>
                </header>
                <section class="container-fluid margin-T20">
                    <div class="col-lg-6 margin-T10">
                        <label class="level-3">Name</label><span class="fieldvalueBox fieldvalueBox4 text-left" data-ng-bind="pc.patientFullName"></span>
                    </div>
                    <div class="col-lg-6 margin-T10">
                        <label class="level2-2">Date Of Birth</label><span class="fieldvalueBox fieldvalueBox2 text-right" data-ng-bind="pc.patientDetails.dob"></span>
                    </div>
                    <div class="col-lg-6 margin-T10">
                        <label class="level-3">Date</label><span class="fieldvalueBox fieldvalueBox1 text-left" data-ng-bind="pc.formatDate(pc.selectedProcedure.ProcedureDate)"></span>
                    </div>
                    <div class="col-lg-6 margin-T10">
                        <label class="level2-2">Treatment Session Number</label><span class="fieldvalueBox fieldvalueBox2 text-right" data-ng-bind="pc.selectedProcedure.TreatmentSequenceId"></span>
                    </div>
                </section>
                <section class="container-fluid">
                    <div class="col-lg-12">
                        <label class="level-12">Prior Last Treatment Complication : </label><span class="multiplecheck-box-s"><input type="checkbox" data-ng-checked="pc.selectedProcedure.PriorComplication" /></span>
                        <span class="clear"></span>
                        <label class="level-12">If Yes, Describe : </label><span class="fieldvalueBox fieldvalueBox3 text-left" data-ng-bind="pc.selectedProcedure.ComplicationDescription"></span>
                        <span class="clear"></span>
                        <label class="level-12">Allergies : </label><span class="fieldvalueBox fieldvalueBox3 text-left" data-ng-bind="pc.patientDetails.allergies"></span>
                        <span class="clear"></span>
                        <label class="level-12">Medical History : </label><span class="fieldvalueBox fieldvalueBox3 text-left" data-ng-model="pc.patientDetails.medicalHistory"></span>
                        <span class="clear"></span>
                        <fieldset class="well the-fieldset">
                            <legend class="the-legend">Agent</legend>
                            <table class="table" border="0">
                                <tbody>
                                    <tr>
                                        <td width="25%"></td>
                                        <td width="25%" style="text-align:center"><input type="checkbox" data-ng-checked="pc.selectedProcedure.blue"> Resylane</td>
                                        <td width="25%" style="text-align:center"><input type="checkbox" data-ng-checked="pc.selectedProcedure.clear"> Juvederm</td>
                                        <td width="25%"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>
                        <span class="clear"></span>
                        <br/>
                        <label class="level-3">Exp:</label><span class="fieldvalueBox fieldvalueBox4 text-left">3/20/2015</span>
                        <label class="level-3">Lot:</label><span class="fieldvalueBox fieldvalueBox4 text-left">12</span>
                        <span class="clear"></span>
                        <br />
                        <fieldset class="well the-fieldset">
                            <legend class="the-legend">Treated Area (ml)</legend>
                            <table class="table" border="0">
                                <tbody>
                                    <tr>
                                        <td width="15%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.UpperLip"> Upper Lip</td>
                                        <td width="15%"><span data-ng-bind="pc.selectedProcedure.upperlipml" /></td>
                                    </tr>
                                    <tr>
                                        <td width="15%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.lowerlipyn"> Lower Lip</td>
                                        <td width="15%"><span data-ng-bind="pc.selectedProcedure.lowerlipml" /></td>
                                    </tr>
                                    <tr>
                                        <td width="15%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.nasalfoldyn"> Nesolabial Fold</td>
                                        <td width="15%"><span data-ng-bind="pc.selectedProcedure.nasalfoldml" /></td>
                                    </tr>
                                    <tr>
                                        <td width="15%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.cheekyn"> Cheek</td>
                                        <td width="15%"><span data-ng-bind="pc.selectedProcedure.cheekml" /></td>
                                    </tr>
                                    <tr>
                                        <td width="15%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.MelomentFoldyn"> Melomental Fold</td>
                                        <td width="15%"><span data-ng-bind="pc.selectedProcedure.MelomentFoldml" /></td>
                                    </tr>
                                    <tr>
                                        <td width="15%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.OtherArea"> Other Area</td>
                                        <td width="15%"><span data-ng-bind="pc.selectedProcedure.otherml" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>
                        <span class="clear"></span>
                        <div class="col-lg-12 bottom-aligned-text" style="text-align:center;">
                            <div class="col-lg-5">
                                <div class="signbox"><img src="images/signature.gif" alt="" /></div>
                            </div>
                            <div class="col-lg-3">
                                &nbsp;
                            </div>
                            <div class="col-lg-4" style="border-bottom:1px solid #CCC;margin-top:50px">
                                <span data-ng-bind="pc.currentDate" />
                            </div>
                        </div>
                        <div class="col-lg-12" style="text-align:center;">
                            <div class="col-lg-5">
                                Ayman El-Attar, MD.
                            </div>
                            <div class="col-lg-3">
                                &nbsp;
                            </div>
                            <div class="col-lg-4">
                                Date
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </div>
</body>
</html>
