<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Laser Peel Procedure Form</title>
    <!--[if lt IE 9]>
    <script src="js/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="styles/print-bootstrap.css" />
    <link rel="stylesheet" href="styles/print-bootstrap-theme.css" />
    <link rel="stylesheet" href="styles/print.css" />
</head>
<body>
    <div class="mainouterbox">
        <div class="container-fluid">
            <form method="post" action="">
                <header class="container-fluid">
                    <div class="logodcbox"><img src="images/dc-logo.jpg" alt="" /></div>
                    <div class="formtitlebox">
                        <hgroup>
                            <h2>Derma Laser Centers</h2>
                            <h3>Laser Peel Procedure Form</h3>
                        </hgroup>
                    </div>
                </header>
                <section class="container-fluid margin-T20">                    
                    <div class="col-lg-6 margin-T10">
                        <label class="level-3">Name</label><span class="fieldvalueBox fieldvalueBox4 text-left" data-ng-bind="pc.patientFullName"></span>
                    </div>
                    <div class="col-lg-6 margin-T10">
                        <label class="level2-2">Date Of Birth</label><span class="fieldvalueBox fieldvalueBox2 text-right" data-ng-bind="pc.patientDetails.dob"></span>
                    </div>
                    <div class="col-lg-6 margin-T10">
                        <label class="level-3">Date</label><span class="fieldvalueBox fieldvalueBox1 text-left" data-ng-bind="pc.formatDate(pc.selectedProcedure.ProcedureDate)"></span>
                    </div>
                    <div class="col-lg-6 margin-T10">
                        <label class="level2-2">Treatment Session Number</label><span class="fieldvalueBox fieldvalueBox2 text-right" data-ng-bind="pc.selectedProcedure.TreatmentSequenceId"></span>
                    </div>
                </section>
                <section class="container-fluid">
                    <div class="col-lg-12">
                        <label class="level-12">Prior Last Treatment Complication : </label><span class="multiplecheck-box-s"><input type="checkbox" data-ng-checked="pc.selectedProcedure.PriorComplication" /></span>
                        <span class="clear"></span>
                        <label class="level-12">If Yes, Describe : </label><span class="fieldvalueBox fieldvalueBox3 text-left" data-ng-bind="pc.selectedProcedure.ComplicationDescription"></span>
                        <span class="clear"></span>
                        <label class="level-12">Allergies : </label><span class="fieldvalueBox fieldvalueBox3 text-left" data-ng-bind="pc.patientDetails.allergies"></span>
                        <span class="clear"></span>
                        <label class="level-12">Medical History : </label><span class="fieldvalueBox fieldvalueBox3 text-left" data-ng-model="pc.patientDetails.medicalHistory"></span>
                        <span class="clear"></span>
                        <fieldset class="well the-fieldset">
                            <legend class="the-legend">Treated Area</legend>
                            <table class="table" border="0">
                                <tr>
                                    <td width="30%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.Face"> Face</td>
                                    <td width="30%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.Neck"> Neck</td>
                                    <td width="30%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.Chest"> Declote</td>
                                    <td width="10%"></td>
                                </tr>
                                <tr>
                                    <td width="30%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.Hands"> Hands</td>
                                    <td width="30%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.LVR"> LVR</td>
                                    <td width="30%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.Leg"> Leg</td>
                                    <td width="10%"></td>
                                </tr>
                            </table>
                        </fieldset>
                        <fieldset class="well the-fieldset">
                            <legend class="the-legend">Power</legend>
                            <table class="table" border="0">
                                <tbody>
                                    <tr>
                                        <td width="30%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.Energy200"> 200 mJ</td>
                                        <td width="30%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.Energy400"> 400 mJ</td>
                                        <td width="30%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.Energy600"> 600 mJ</td>
                                        <td width="10%"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>
                        <fieldset class="well the-fieldset">
                            <legend class="the-legend">Pulse Rate</legend>
                            <table class="table" border="0">
                                <tbody>
                                    <tr>
                                        <td width="25%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.PPSMax"> Single</td>
                                        <td width="25%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.PPS1"> 1 Hz</td>
                                        <td width="25%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.PPS2"> 2 Hz</td>
                                        <td width="25%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.PPS3"> 3 Hz</td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>
                        <fieldset class="well the-fieldset">
                            <legend class="the-legend">Procedures</legend>
                            <table class="table" border="0">
                                <tbody>
                                    <tr>
                                        <td width="30%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.Proceduresdone"> Sign on Door</td>
                                        <td width="30%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.Proceduresdone"> Smoke Evac On</td>
                                        <td width="30%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.Proceduresdone"> Goggles On</td>
                                        <td width="10%"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>
                        <span class="clear"></span>
                        <div class="col-lg-12 bottom-aligned-text" style="text-align:center;">
                            <div class="col-lg-5">
                                <div class="signbox"><img src="images/signature.gif" alt="" /></div>
                            </div>
                            <div class="col-lg-3">
                                &nbsp;
                            </div>
                            <div class="col-lg-4" style="border-bottom:1px solid #CCC;margin-top:50px">
                                <span data-ng-bind="pc.currentDate" />
                            </div>
                        </div>
                        <div class="col-lg-12" style="text-align:center;">
                            <div class="col-lg-5">
                                Ayman El-Attar, MD.
                            </div>
                            <div class="col-lg-3">
                                &nbsp;
                            </div>
                            <div class="col-lg-4">
                                Date
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </div>
</body>
</html>
