<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Laser Veins Removal Procedure Form</title>
    <!--[if lt IE 9]>
    <script src="js/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="styles/print-bootstrap.css" />
    <link rel="stylesheet" href="styles/print-bootstrap-theme.css" />
    <link rel="stylesheet" href="styles/print.css" />
</head>
<body>
    <div class="mainouterbox">
        <div class="container-fluid">
            <form method="post" action="">
                <header class="container-fluid">
                    <div class="logodcbox"><img src="images/dc-logo.jpg" alt="" /></div>
                    <div class="formtitlebox">
                        <hgroup style="margin-left:-50px">
                            <h2>Derma Laser Centers</h2>
                            <h3>Laser Veins Removal Procedure Form</h3>
                            <h3><i>Cynosure SmartEpi II 1064</i></h3>
                        </hgroup>
                    </div>
                </header>
                <section class="container-fluid margin-T20">
                    <div class="col-lg-6 margin-T10">
                        <label class="level-3">Name</label><span class="fieldvalueBox fieldvalueBox4 text-left" data-ng-bind="pc.patientFullName"></span>
                    </div>
                    <div class="col-lg-6 margin-T10">
                        <label class="level2-2">Date Of Birth</label><span class="fieldvalueBox fieldvalueBox2 text-right" data-ng-bind="pc.patientDetails.dob"></span>
                    </div>
                    <div class="col-lg-6 margin-T10">
                        <label class="level-3">Date</label><span class="fieldvalueBox fieldvalueBox1 text-left" data-ng-bind="pc.formatDate(pc.selectedProcedure.ProcedureDate)"></span>
                    </div>
                    <div class="col-lg-6 margin-T10">
                        <label class="level2-2">Treatment Session Number</label><span class="fieldvalueBox fieldvalueBox2 text-right" data-ng-bind="pc.selectedProcedure.TreatmentSequenceId"></span>
                    </div>
                </section>
                <section class="container-fluid">
                    <div class="col-lg-12">
                        <label class="level-12">Prior Last Treatment Complication : </label><span class="multiplecheck-box-s"><input type="checkbox" data-ng-checked="pc.selectedProcedure.PriorComplication" /></span>
                        <span class="clear"></span>
                        <label class="level-12">If Yes, Describe : </label><span class="fieldvalueBox fieldvalueBox3 text-left" data-ng-bind="pc.selectedProcedure.ComplicationDescription"></span>
                        <span class="clear"></span>
                        <label class="level-12">Allergies : </label><span class="fieldvalueBox fieldvalueBox3 text-left" data-ng-bind="pc.patientDetails.allergies"></span>
                        <span class="clear"></span>
                        <label class="level-12">Medical History : </label><span class="fieldvalueBox fieldvalueBox3 text-left" data-ng-model="pc.patientDetails.medicalHistory"></span>
                        <span class="clear"></span>
                        <fieldset class="well the-fieldset">
                            <legend class="the-legend">BLT Cream Used</legend>
                            <table class="table" border="0">
                                <tbody>
                                    <tr>
                                        <td width="25%"></td>
                                        <td width="25%" style="text-align:center"><input type="checkbox" data-ng-checked="pc.selectedProcedure.BLTCreamUsedYes"> Yes</td>
                                        <td width="25%" style="text-align:center"><input type="checkbox" data-ng-checked="pc.selectedProcedure.BLTCreamUsedNo"> No</td>
                                        <td width="25%"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>
                        <fieldset class="well the-fieldset">
                            <legend class="the-legend">Treated Area</legend>
                            <table class="table" border="0">
                                <tbody>
                                    <tr>
                                        <td width="30%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.Leg"> Leg</td>
                                        <td width="30%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.Thigh"> Thigh</td>
                                        <td width="30%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.OtherArea"> Other Area</td>
                                        <td width="10%"></td>
                                    </tr>
                                    <tr>
                                        <td width="30%" colspan="3"><span data-ng-bind="pc.selectedProcedure.OtherAreaDescription" /></td>
                                        <td width="10%"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>
                        <fieldset class="well the-fieldset">
                            <legend class="the-legend">Energy</legend>
                            <table class="table" border="0">
                                <tbody>
                                    <tr>
                                        <td width="30%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.Energy150"> 150 J/cm2</td>
                                        <td width="30%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.Energy175"> 175 J/cm2</td>
                                        <td width="30%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.Energy200"> 200 J/cm2</td>
                                        <td width="10%"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>
                        <fieldset class="well the-fieldset">
                            <legend class="the-legend">PPS</legend>
                            <table class="table" border="0">
                                <tbody>
                                    <tr>
                                        <td width="30%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.PPS2"> 2 pps</td>
                                        <td width="30%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.PPS25"> 2.5 pps</td>
                                        <td width="30%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.PPSMax"> Max</td>
                                        <td width="10%"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>
                        <fieldset class="well the-fieldset">
                            <legend class="the-legend">Spot Size</legend>
                            <table class="table" border="0">
                                <tbody>
                                    <tr>
                                        <td width="30%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.SpotSize25"> 2.5 mm</td>
                                        <td width="30%"></td>
                                        <td width="30%"></td>
                                        <td width="10%"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>
                        <span class="clear"></span>
                        <div class="col-lg-12 bottom-aligned-text" style="text-align:center;">
                            <div class="col-lg-5">
                                <div class="signbox"><img src="images/signature.gif" alt="" /></div>
                            </div>
                            <div class="col-lg-3">
                                &nbsp;
                            </div>
                            <div class="col-lg-4" style="border-bottom:1px solid #CCC;margin-top:50px">
                                <span data-ng-bind="pc.currentDate" />
                            </div>
                        </div>
                        <div class="col-lg-12" style="text-align:center;">
                            <div class="col-lg-5">
                                Ayman El-Attar, MD.
                            </div>
                            <div class="col-lg-3">
                                &nbsp;
                            </div>
                            <div class="col-lg-4">
                                Date
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </div>
</body>
</html>
