<html>
<head>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/weather-icons/css/weather-icons.min.css">
    <link rel="stylesheet" href="bower_components/angular-block-ui/dist/angular-block-ui.min.css" />

    <!-- end Needs images -->
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/kendo/kendo.common.min.css">
    <link rel="stylesheet" href="styles/kendo/kendo.default.min.css">
</head>
<body>
    <div class="grid-structure">
        <div class="divider"></div>
        <table class="table" border="0">
            <tbody>
                <tr>
                    <td width="20%"><label class="control-label">First Name</label></td>
                    <td width="30%"><span data-ng-bind="pc.patientDetails.firstName" /></td>
                    <td width="20%"><label class="control-label">Last Name</label></td>
                    <td width="30%"><span data-ng-bind="pc.patientDetails.lastName" /></td>
                </tr>
                <tr>
                    <td width="20%"><label class="control-label">Date</label></td>
                    <td width="30%"><span data-ng-bind="pc.selectedProcedure.ProcedureDate" /></td>
                    <td width="20%"><label class="control-label">Session #</label></td>
                    <td width="30%"><span data-ng-bind="pc.selectedProcedure.TreatmentSequenceId" /></td>
                </tr>
            </tbody>
        </table>
        <table class="table" border="0">
            <tbody>
                <tr>
                    <td width="25%"><label class="control-label">Prior treatment complication ?</label></td>
                    <td width="5%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.PriorComplication"></td>
                    <td width="70%"><span data-ng-bind="pc.selectedProcedure.ComplicationDescription" /></td>
                </tr>
            </tbody>
        </table>
        <table class="table" border="0">
            <tbody>
                <tr>
                    <td width="20%"><label class="control-label">Lot</label></td>
                    <td width="30%"><span data-ng-bind="pc.selectedProcedure.Lot" /></td>
                    <td width="20%"><label class="control-label">Exp</label></td>
                    <td width="30%"><input kendo-date-picker k-format="'MM-dd-yyyy'" style="width: 100%" data-ng-model="pc.selectedProcedure.ExpDate"></td>
                </tr>
            </tbody>
        </table>
        <fieldset class="scheduler-border" style="width: 600px">
            <legend class="scheduler-border">Treated Area (ml) ------------- Unit/Injections --------------- Injections -------------------- Total Units</legend>
            <table class="table" border="0">
                <tbody>
                    <tr>
                        <td width="25%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.Forehead"> Forhead</td>
                        <td width="25%"><span data-ng-bind="pc.selectedProcedure.ForheadUnitPerInj" /></td>
                        <td width="25%"><span data-ng-bind="pc.selectedProcedure.ForheadNumberofInj" /></td>
                        <td width="25%"><span data-ng-bind="pc.selectedProcedure.forheadml" /></td>
                    </tr>
                    <tr>
                        <td width="25%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.glabellayn"> Glabella</td>
                        <td width="25%"><span data-ng-bind="pc.selectedProcedure.GlabellaUnitPerInj" /></td>
                        <td width="25%"><span data-ng-bind="pc.selectedProcedure.GlabellaNumberofInj" /></td>
                        <td width="25%"><span data-ng-bind="pc.selectedProcedure.glabellaynml" /></td>
                    </tr>
                    <tr>
                        <td width="25%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.crowsfeetyn"> Crows Feet</td>
                        <td width="25%"><span data-ng-bind="pc.selectedProcedure.CrowsFeetUnitPerInj" /></td>
                        <td width="25%"><span data-ng-bind="pc.selectedProcedure.CrowsFeetNumberofInj" /></td>
                        <td width="25%"><span data-ng-bind="pc.selectedProcedure.crowsfeetml" /></td>
                    </tr>
                    <tr>
                        <td width="25%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.eyebrowyn"> Eyebrow</td>
                        <td width="25%"><span data-ng-bind="pc.selectedProcedure.EyebrowUnitPerInj" /></td>
                        <td width="25%"><span data-ng-bind="pc.selectedProcedure.EyebrowNumberofInj" /></td>
                        <td width="25%"><span data-ng-bind="pc.selectedProcedure.eyebrowml" /></td>
                    </tr>
                    <tr>
                        <td width="25%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.UpperLip"> Upper Lip</td>
                        <td width="25%"><span data-ng-bind="pc.selectedProcedure.UpperLipUnitPerInj" /></td>
                        <td width="25%"><span data-ng-bind="pc.selectedProcedure.UpperLipNumberofInj" /></td>
                        <td width="25%"><span data-ng-bind="pc.selectedProcedure.upperlipml" /></td>
                    </tr>
                    <tr>
                        <td width="25%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.platysmayn"> Platysma</td>
                        <td width="25%"><span data-ng-bind="pc.selectedProcedure.PlatysmaUnitPerInj" /></td>
                        <td width="25%"><span data-ng-bind="pc.selectedProcedure.PlatysmaNumberofInj" /></td>
                        <td width="25%"><span data-ng-bind="pc.selectedProcedure.platysmaml" /></td>
                    </tr>
                    <tr>
                        <td width="25%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.OtherArea"> Other Area</td>
                        <td width="25%"><span data-ng-bind="pc.selectedProcedure.OtherAreaUnitPerInj" /></td>
                        <td width="25%"><span data-ng-bind="pc.selectedProcedure.OtherAreaNumberofInj" /></td>
                        <td width="25%"><span data-ng-bind="pc.selectedProcedure.otherml" /></td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
        <div class="divider"></div>
        <table class="table" border="0">
            <tbody>
                <tr>
                    <td width="25%"><label class="control-label">Allergic To Latex</label></td>
                    <td width="75%"><span data-ng-bind="pc.selectedProcedure.sel" /></td>
                </tr>
            </tbody>
        </table>
        <table class="table" border="0">
            <tbody>
                <tr>
                    <td width="25%"><label class="control-label">Med Hx</label></td>
                    <td width="75%"><span data-ng-bind="pc.selectedProcedure.medhx" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>