<html>
<head>
    <!-- end Needs images -->
    <link rel="stylesheet" href="styles/main.css" />
</head>
<body>
    <div class="grid-structure">
        <div class="divider"></div>
        <table class="table" border="0">
            <tbody>
                <tr>
                    <td width="20%"><label class="control-label">First Name</label></td>
                    <td width="30%"><span data-ng-bind="pc.patientDetails.firstName" /></td>
                    <td width="20%"><label class="control-label">Last Name</label></td>
                    <td width="30%"><span data-ng-bind="pc.patientDetails.lastName" /></td>
                </tr>
                <tr>
                    <td width="20%"><label class="control-label">Date</label></td>
                    <td width="30%"><span data-ng-model="pc.selectedProcedure.ProcedureDate" /></td>
                    <td width="20%"><label class="control-label">Session #</label></td>
                    <td width="30%"><span data-ng-model="pc.selectedProcedure.TreatmentSequenceId" /></td>
                </tr>
            </tbody>
        </table>
        <table class="table" border="0">
            <tbody>
                <tr>
                    <td width="25%"><label class="control-label">Prior treatment complication ?</label></td>
                    <td width="5%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.PriorComplication"></td>
                    <td width="50%"><span data-ng-bind="pc.selectedProcedure.ComplicationDescription" /></td>
                </tr>
            </tbody>
        </table>
        <fieldset class="scheduler-border" style="width: 400px;">
            <legend class="scheduler-border"> BLT Cream Used </legend>
            <table class="table" border="0">
                <tbody>
                    <tr>
                        <td width="25%"></td>
                        <td width="25%" style="text-align:center"><input type="checkbox" data-ng-checked="pc.selectedProcedure.BLTCreamUsedYes"> Yes</td>
                        <td width="25%" style="text-align:center"><input type="checkbox" data-ng-checked="pc.selectedProcedure.BLTCreamUsedNo"> No</td>
                        <td width="25%"></td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
        <fieldset class="scheduler-border" style="width: 500px;">
            <legend class="scheduler-border"> Treated Area </legend>
            <table class="table" border="0">
                <tbody>
                    <tr>
                        <td width="25%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.UpperLip"> Upper Lip</td>
                        <td width="25%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.Chin"> Chin</td>
                        <td width="25%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.Leg"> Leg</td>
                        <td width="25%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.Chest"> Chest</td>
                    </tr>
                    <tr>
                        <td width="25%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.Bikini"> Bikini</td>
                        <td width="25%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.Back"> Back</td>
                        <td width="25%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.Thigh"> Thigh</td>
                        <td width="25%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.OtherArea"> Other Area</td>
                    </tr>
                    <tr>
                        <td width="100%" colspan="4"><span data-ng-bind="pc.selectedProcedure.OtherAreaDescription" /></td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
        <fieldset class="scheduler-border" style="width: 500px;">
            <legend class="scheduler-border"> Energy </legend>
            <table class="table" border="0">
                <tbody>
                    <tr>
                        <td width="20%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.Energy30"> 30 J/cm2</td>
                        <td width="20%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.Energy45"> 45 J/cm2</td>
                        <td width="20%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.Energy60"> 60 J/cm2</td>
                        <td width="20%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.Energy75"> 75 J/cm2</td>
                        <td width="20%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.Energy90"> 90 J/cm2</td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
        <fieldset class="scheduler-border" style="width: 500px;">
            <legend class="scheduler-border"> PPS </legend>
            <table class="table" border="0">
                <tbody>
                    <tr>
                        <td width="25%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.PPS1"> 1 pps</td>
                        <td width="25%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.PPS15"> 1.5 pps</td>
                        <td width="25%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.PPS2"> 2 pps</td>
                        <td width="25%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.PPS25"> 2.5 pps</td>
                    </tr>
                    <tr>
                        <td width="25%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.PPS3"> 3 pps</td>
                        <td width="25%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.PPSMax"> Max</td>
                        <td width="25%"></td>
                        <td width="25%"></td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
        <fieldset class="scheduler-border" style="width: 500px;">
            <legend class="scheduler-border"> Spot Size </legend>
            <table class="table" border="0">
                <tbody>
                    <tr>
                        <td width="30%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.SpotSize5"> 5 mm</td>
                        <td width="30%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.SpotSize7"> 7 mm</td>
                        <td width="30%"><input type="checkbox" data-ng-checked="pc.selectedProcedure.SpotSize10"> 10 mm</td>
                        <td width="10%"></td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </div>
</body>
</html>